{% load static %}
<nav class="vertical_nav">
  <div class="left_section menu_left" id="js-menu">
    <div class="left_section">
      <ul>
        <li class="menu--item">
          <a href="{% url 'core:dashboard' %}" class="menu--link active" title="Home">
            <i class="uil uil-home-alt menu--icon"></i>
            <span class="menu--label">Home</span>
          </a>
        </li>
        <li class="menu--item">
          <a href="{% url 'lab:explore' %}" class="menu--link" title="Explore">
            <i class="uil uil-search menu--icon"></i>
            <span class="menu--label">Explore</span>
          </a>
        </li>
        <li class="menu--item menu--item__has_sub_menu">
          <label class="menu--link" title="Categories">
            <i class="uil uil-layers menu--icon"></i>
            <span class="menu--label">Categories</span>
          </label>
          <ul class="sub_menu">
            <li class="sub_menu--item">
              {% for cat in category_object %}

              <a href="#" class="sub_menu--link">{{cat.title}}</a>
              {% endfor %}

        </li>
        <li class="menu--item">
          <a href="#" class="menu--link" title="Saved Courses">
            <i class="uil uil-heart-alt menu--icon"></i>
            <span class="menu--label">Saved Video</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="left_section">
      <h6 class="left_title">SUBSCRIPTIONS</h6>
      <ul>
        <li class="menu--item">
          <a
            href="{% url 'lab:creators' %}"
            class="menu--link"
            title="Browse Instructors"
          >
            <i class="uil uil-plus-circle menu--icon"></i>
            <span class="menu--label">Browse Instructors</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="left_section pt-2">
      <ul>
        <li class="menu--item">
          <a
            href="{% url 'users:setting' %}"
            class="menu--link"
            title="Setting"
          >
            <i class="uil uil-cog menu--icon"></i>
            <span class="menu--label">Setting</span>
          </a>
        </li>
        <li class="menu--item">
          <a href="#" class="menu--link" title="Help">
            <i class="uil uil-question-circle menu--icon"></i>
            <span class="menu--label">Help</span>
          </a>
        </li>
        <li class="menu--item">
          <a
            href="#"
            class="menu--link"
            title="Report History"
          >
            <i class="uil uil-windsock menu--icon"></i>
            <span class="menu--label">Report History</span>
          </a>
        </li>
        <li class="menu--item">
          <a
            href="{% url 'lab:feedback' %}"
            class="menu--link"
            title="Send Feedback"
          >
            <i class="uil uil-comment-alt-exclamation menu--icon"></i>
            <span class="menu--label">Send Feedback</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="left_footer">
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Press</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Advertise</a></li>
        <li><a href="#">Developers</a></li>
        <li><a href="#">Copyright</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms</a></li>
      </ul>
      <div class="left_footer_content">
        <p>© 2021 <strong>Cyber Experiment</strong>. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</nav>
