{% extends 'circus/base_one/base.html' %} {% load static %} {% block title %}
Cyber Experiment | Details {% endblock title %} {% block content %}

  <div class="sa4d25">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-12 col-lg-8">
          <div class="section3125">
            <div class="explore_search">
              <div class="ui search focus">
                <div class="ui left icon input swdh11">
                  <input
                    class="prompt srch_explore"
                    type="text"
                    placeholder="Search Tutors..."
                  />
                  <i class="uil uil-search-alt icon icon2"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="_14d25">
            <div class="row">
              <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="fcrse_1 mt-30">
                  <div class="tutor_img">
                    <a href="{% url 'users:profile' %}"
                      ><img src="{% static 'circus/images/left-imgs/img-1.jpg' %}" alt=""
                    /></a>
                  </div>
                  <div class="tutor_content_dt">
                    <div class="tutor150">
                      <a href="{% url 'users:profile' %}" class="tutor_name"
                        >John Doe</a
                      >
                      <div class="mef78" title="Verify">
                        <i class="uil uil-check-circle"></i>
                      </div>
                    </div>
                    <div class="tutor_cate">Wordpress &amp; Plugin Tutor</div>
                    <ul class="tutor_social_links">
                      <li>
                        <a href="#" class="fb"
                          ><i class="fab fa-facebook-f"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="tw"
                          ><i class="fab fa-twitter"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="ln"
                          ><i class="fab fa-linkedin-in"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="yu"
                          ><i class="fab fa-youtube"></i
                        ></a>
                      </li>
                    </ul>
                    <div class="tut1250">
                      <span class="vdt15">100K followers</span>
                      <span class="vdt15">15 Experiments</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="fcrse_1 mt-30">
                  <div class="tutor_img">
                    <a href="{% url 'users:profile' %}"
                      ><img src="{% static 'circus/images/left-imgs/img-2.jpg' %}" alt=""
                    /></a>
                  </div>
                  <div class="tutor_content_dt">
                    <div class="tutor150">
                      <a href="{% url 'users:profile' %}" class="tutor_name"
                        >Kerstin Cable</a
                      >
                      <div class="mef78" title="Verify">
                        <i class="uil uil-check-circle"></i>
                      </div>
                    </div>
                    <div class="tutor_cate">
                      Language Learning Coach, Writer, Online Tutor
                    </div>
                    <ul class="tutor_social_links">
                      <li>
                        <a href="#" class="fb"
                          ><i class="fab fa-facebook-f"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="tw"
                          ><i class="fab fa-twitter"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="ln"
                          ><i class="fab fa-linkedin-in"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="yu"
                          ><i class="fab fa-youtube"></i
                        ></a>
                      </li>
                    </ul>
                    <div class="tut1250">
                      <span class="vdt15">14K followers</span>
                      <span class="vdt15">11 Experiment</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="fcrse_1 mt-30">
                  <div class="tutor_img">
                    <a href="{% url 'users:profile' %}"
                      ><img src="{% static 'circus/images/left-imgs/img-3.jpg' %}" alt=""
                    /></a>
                  </div>
                  <div class="tutor_content_dt">
                    <div class="tutor150">
                      <a href="{% url 'users:profile' %}" class="tutor_name"
                        >Jose Portilla</a
                      >
                      <div class="mef78" title="Verify">
                        <i class="uil uil-check-circle"></i>
                      </div>
                    </div>
                    <div class="tutor_cate">
                      Head of Data Science, Pierian Data Inc.
                    </div>
                    <ul class="tutor_social_links">
                      <li>
                        <a href="#" class="fb"
                          ><i class="fab fa-facebook-f"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="tw"
                          ><i class="fab fa-twitter"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="ln"
                          ><i class="fab fa-linkedin-in"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="yu"
                          ><i class="fab fa-youtube"></i
                        ></a>
                      </li>
                    </ul>
                    <div class="tut1250">
                      <span class="vdt15">1M followers</span>
                      <span class="vdt15">25 Experiments</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="fcrse_1 mt-30">
                  <div class="tutor_img">
                    <a href="{% url 'users:profile' %}"
                      ><img src="{% static 'circus/images/left-imgs/img-3.jpg' %}" alt=""
                    /></a>
                  </div>
                  <div class="tutor_content_dt">
                    <div class="tutor150">
                      <a href="#" class="tutor_name">Jose Portilla</a>
                      <div class="mef78" title="Verify">
                        <i class="uil uil-check-circle"></i>
                      </div>
                    </div>
                    <div class="tutor_cate">
                      Head of Data Science, Pierian Data Inc.
                    </div>
                    <ul class="tutor_social_links">
                      <li>
                        <a href="#" class="fb"
                          ><i class="fab fa-facebook-f"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="tw"
                          ><i class="fab fa-twitter"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="ln"
                          ><i class="fab fa-linkedin-in"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="yu"
                          ><i class="fab fa-youtube"></i
                        ></a>
                      </li>
                    </ul>
                    <div class="tut1250">
                      <span class="vdt15">1M followers</span>
                      <span class="vdt15">25 Experiment</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="fcrse_1 mt-30">
                  <div class="tutor_img">
                    <a href="{% url 'users:profile' %}"
                      ><img src="{% static 'circus/images/left-imgs/img-5.jpg' %}" alt=""
                    /></a>
                  </div>
                  <div class="tutor_content_dt">
                    <div class="tutor150">
                      <a href="{% url 'users:profile' %}" class="tutor_name"
                        >Kyle Pew</a
                      >
                      <div class="mef78" title="Verify">
                        <i class="uil uil-check-circle"></i>
                      </div>
                    </div>
                    <div class="tutor_cate">
                      Microsoft Certified Trainer - 380,000+ followers
                    </div>
                    <ul class="tutor_social_links">
                      <li>
                        <a href="#" class="fb"
                          ><i class="fab fa-facebook-f"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="tw"
                          ><i class="fab fa-twitter"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="ln"
                          ><i class="fab fa-linkedin-in"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="yu"
                          ><i class="fab fa-youtube"></i
                        ></a>
                      </li>
                    </ul>
                    <div class="tut1250">
                      <span class="vdt15">300K followers</span>
                      <span class="vdt15">18 Experiments</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="fcrse_1 mt-30">
                  <div class="tutor_img">
                    <a href="{% url 'users:profile' %}"
                      ><img src="{% static 'circus/images/left-imgs/img-7.jpg' %}" alt=""
                    /></a>
                  </div>
                  <div class="tutor_content_dt">
                    <div class="tutor150">
                      <a href="{% url 'users:profile' %}" class="tutor_name"
                        >Jaysen Batchelor</a
                      >
                      <div class="mef78" title="Verify">
                        <i class="uil uil-check-circle"></i>
                      </div>
                    </div>
                    <div class="tutor_cate">Illustrator &amp; Designer</div>
                    <ul class="tutor_social_links">
                      <li>
                        <a href="#" class="fb"
                          ><i class="fab fa-facebook-f"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="tw"
                          ><i class="fab fa-twitter"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="ln"
                          ><i class="fab fa-linkedin-in"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="yu"
                          ><i class="fab fa-youtube"></i
                        ></a>
                      </li>
                    </ul>
                    <div class="tut1250">
                      <span class="vdt15">491K followers</span>
                      <span class="vdt15">13 Experiments</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="fcrse_1 mt-30">
                  <div class="tutor_img">
                    <a href="{% url 'users:profile' %}"
                      ><img src="{% static 'circus/images/left-imgs/img-8.jpg' %}" alt=""
                    /></a>
                  </div>
                  <div class="tutor_content_dt">
                    <div class="tutor150">
                      <a href="{% url 'users:profile' %}" class="tutor_name"
                        >Quinton Batchelor</a
                      >
                      <div class="mef78" title="Verify">
                        <i class="uil uil-check-circle"></i>
                      </div>
                    </div>
                    <div class="tutor_cate">Photographer &amp; Instructor</div>
                    <ul class="tutor_social_links">
                      <li>
                        <a href="#" class="fb"
                          ><i class="fab fa-facebook-f"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="tw"
                          ><i class="fab fa-twitter"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="ln"
                          ><i class="fab fa-linkedin-in"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="yu"
                          ><i class="fab fa-youtube"></i
                        ></a>
                      </li>
                    </ul>
                    <div class="tut1250">
                      <span class="vdt15">364K Students</span>
                      <span class="vdt15">6 Courses</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="fcrse_1 mt-30">
                  <div class="tutor_img">
                    <a href="{% url 'users:profile' %}"
                      ><img src="{% static 'circus/images/left-imgs/img-10.jp' %}g" alt=""
                    /></a>
                  </div>
                  <div class="tutor_content_dt">
                    <div class="tutor150">
                      <a href="{% url 'users:profile' %}" class="tutor_name"
                        >Eli Natoli</a
                      >
                      <div class="mef78" title="Verify">
                        <i class="uil uil-check-circle"></i>
                      </div>
                    </div>
                    <div class="tutor_cate">
                      Entrepreneur - Passionate Teacher
                    </div>
                    <ul class="tutor_social_links">
                      <li>
                        <a href="#" class="fb"
                          ><i class="fab fa-facebook-f"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="tw"
                          ><i class="fab fa-twitter"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="ln"
                          ><i class="fab fa-linkedin-in"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="yu"
                          ><i class="fab fa-youtube"></i
                        ></a>
                      </li>
                    </ul>
                    <div class="tut1250">
                      <span class="vdt15">115K Students</span>
                      <span class="vdt15">8 Courses</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="fcrse_1 mt-30">
                  <div class="tutor_img">
                    <a href="{% url 'users:profile' %}"
                      ><img src="{% static 'circus/images/left-imgs/img-11.jp' %}g" alt=""
                    /></a>
                  </div>
                  <div class="tutor_content_dt">
                    <div class="tutor150">
                      <a href="{% url 'users:profile' %}" class="tutor_name"
                        >Sunny William</a
                      >
                      <div class="mef78" title="Verify">
                        <i class="uil uil-check-circle"></i>
                      </div>
                    </div>
                    <div class="tutor_cate">
                      Entrepreneur - Passionate Teacher
                    </div>
                    <ul class="tutor_social_links">
                      <li>
                        <a href="#" class="fb"
                          ><i class="fab fa-facebook-f"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="tw"
                          ><i class="fab fa-twitter"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="ln"
                          ><i class="fab fa-linkedin-in"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="yu"
                          ><i class="fab fa-youtube"></i
                        ></a>
                      </li>
                    </ul>
                    <div class="tut1250">
                      <span class="vdt15">615K Students</span>
                      <span class="vdt15">12 Courses</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="fcrse_1 mt-30">
                  <div class="tutor_img">
                    <a href="{% url 'users:profile' %}"
                      ><img src="{% static 'circus/images/left-imgs/img-12.jp' %}g" alt=""
                    /></a>
                  </div>
                  <div class="tutor_content_dt">
                    <div class="tutor150">
                      <a href="{% url 'users:profile' %}" class="tutor_name"
                        >Neha Smith</a
                      >
                      <div class="mef78" title="Verify">
                        <i class="uil uil-check-circle"></i>
                      </div>
                    </div>
                    <div class="tutor_cate">English Teacher</div>
                    <ul class="tutor_social_links">
                      <li>
                        <a href="#" class="fb"
                          ><i class="fab fa-facebook-f"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="tw"
                          ><i class="fab fa-twitter"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="ln"
                          ><i class="fab fa-linkedin-in"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="yu"
                          ><i class="fab fa-youtube"></i
                        ></a>
                      </li>
                    </ul>
                    <div class="tut1250">
                      <span class="vdt15">15K Students</span>
                      <span class="vdt15">5 Courses</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="fcrse_1 mt-30">
                  <div class="tutor_img">
                    <a href="{% url 'users:profile' %}"
                      ><img src="{% static 'circus/images/left-imgs/img-13.jp' %}g" alt=""
                    /></a>
                  </div>
                  <div class="tutor_content_dt">
                    <div class="tutor150">
                      <a href="{% url 'users:profile' %}" class="tutor_name"
                        >Sukhwinder Singh</a
                      >
                      <div class="mef78" title="Verify">
                        <i class="uil uil-check-circle"></i>
                      </div>
                    </div>
                    <div class="tutor_cate">Web Development</div>
                    <ul class="tutor_social_links">
                      <li>
                        <a href="#" class="fb"
                          ><i class="fab fa-facebook-f"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="tw"
                          ><i class="fab fa-twitter"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="ln"
                          ><i class="fab fa-linkedin-in"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="yu"
                          ><i class="fab fa-youtube"></i
                        ></a>
                      </li>
                    </ul>
                    <div class="tut1250">
                      <span class="vdt15">215K Students</span>
                      <span class="vdt15">15 Courses</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="fcrse_1 mt-30">
                  <div class="tutor_img">
                    <a href="{% url 'users:profile' %}"
                      ><img src="{% static 'circus/images/left-imgs/img-14.jp' %}g" alt=""
                    /></a>
                  </div>
                  <div class="tutor_content_dt">
                    <div class="tutor150">
                      <a href="{% url 'users:profile' %}" class="tutor_name"
                        >Saloni Prabhakar</a
                      >
                      <div class="mef78" title="Verify">
                        <i class="uil uil-check-circle"></i>
                      </div>
                    </div>
                    <div class="tutor_cate">Photographer</div>
                    <ul class="tutor_social_links">
                      <li>
                        <a href="#" class="fb"
                          ><i class="fab fa-facebook-f"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="tw"
                          ><i class="fab fa-twitter"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="ln"
                          ><i class="fab fa-linkedin-in"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="yu"
                          ><i class="fab fa-youtube"></i
                        ></a>
                      </li>
                    </ul>
                    <div class="tut1250">
                      <span class="vdt15">10K Students</span>
                      <span class="vdt15">3 Courses</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="main-loader mt-50">
                  <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
