{% load static %}
<!--Full width header Start-->
<div class="full-width-header home8-style4 main-home">
  <!--Header Start-->
  <header id="rs-header" class="rs-header">
    <!-- Menu Start -->
    <div class="menu-area menu-sticky">
      <div class="container">
        <div class="row y-middle">
          <div class="col-lg-2">
            <div class="logo-cat-wrap">
              <div class="logo-part">
                <a href="{% url 'core:home' %}">
                  <img
                    class="normal-logo"
                    src="{% static 'core/trans.png' %}"
                    alt=""
                  />
                  <img
                    class="sticky-logo"
                    src="{% static 'core/main.png' %}"
                    alt=""
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 text-right">
            <div class="rs-menu-area">
              <div class="main-menu">
                <div class="mobile-menu">
                  <a class="rs-menu-toggle">
                    <i class="fa fa-bars"></i>
                  </a>
                </div>
                <nav class="rs-menu">
                  <ul class="nav-menu">
                    <li
                      class="
                        rs-mega-menu
                        mega-rs
                        menu-item
                        current-menu-item
                      "
                    >
                      <a href="{% url 'core:instructor' %}">Researcher</a>
                      <!-- //.mega-menu -->
                    </li>
                    <li class="menu-item">
                      <a href="{% url 'core:follower' %}">Student</a>
                    </li>

                    <li class="menu-item">
                      <a href="{% url 'core:explore' %}">Explore</a>
                    </li>
                    <li class="menu-item">
                      <a href="{% url 'core:about' %}">About</a>
                    </li>

                    <li class="menu-item">
                      <a href="{% url 'core:contact' %}">Contact</a>
                    </li>
                    <li class="menu-item">
                      {% if user.is_authenticated %}

                      <a href="{% url 'core:dashboard' %}">Dashboard</a>
                      {% else %}
                      <a href="{% url 'account_login' %}">Login</a>
                      {% endif %}
                    </li>
                  </ul>
                  <!-- //.nav-menu -->
                </nav>
              </div>
              <!-- //.main-menu -->
            </div>
          </div>
          <div class="col-lg-2 text-right">

          </div>
        </div>
      </div>
    </div>
    <!-- Menu End -->

  </header>
  <!--Header End-->
</div>
<!--Full width header End-->
