{% extends "account/base.html" %} {% load i18n %} {% load static %}
{% block title %}{% translate "Change Password" %}{%endblock %} {% block content %}
<div class="col-lg-6 col-md-8">
  <div class="sign_form">
    <h2>{% translate "Change Password" %}</h2>
    <p>{% translate 'Your password is now changed.' %}</p>
  </div>
  <div class="sign_footer">
    <img src="{% static 'circus/images/sign_logo.png' %}" alt="" />© 2021
    <strong>Cyber Experiment</strong>. All Rights Reserved.
  </div>
</div>
{% endblock %}
