{% extends "account/base.html" %} {% load i18n %}
{% load static %}
{% block title %}{% translate "Password Reset" %}{%endblock %}
{% block content %}
{% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
{% endif %}
<div class="col-lg-6 col-md-8">
  <div class="sign_form">
    <h2>{% translate "Password Reset" %}</h2>
    <p>{% blocktranslate %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktranslate %}</p>
    <p class="sgntrm145">
      {% blocktranslate %}Please contact us if you have any trouble
      resetting your password.{% endblocktranslate %}
    </p>

  </div>
  <div class="sign_footer">
    <img src="{% static 'circus/images/sign_logo.png' %}" alt="" />© 2021
    <strong>Cyber Experiment</strong>. All Rights Reserved.
  </div>
</div>
{% endblock %}
