{% extends "account/base.html" %} {% load i18n %} {% load static %}
{% load crispy_forms_tags %} {% block title %}{% translate "Sign Up" %}{%endblock %}
{% block content %}
<div class="col-lg-6 col-md-8">
  <div class="sign_form">
    <h2>{% translate "Create Account" %}</h2>
    <p>{% translate "Sign Up and View thousands of labs" %}</p>
    <form id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %} {{ form|crispy }} {% if redirect_field_value %}
      <div class="ui search focus">
        <div class="ui left icon input swdh11 swdh19">
          <input
            type="hidden"
            name="{{ redirect_field_name }}"
            value="{{ redirect_field_value }}"
          />
        </div>
      </div>
          {% endif %}
      <div class="ui form mt-30 checkbox_sign">
        <div class="inline field">
          <div class="ui checkbox mncheck">
            <input type="checkbox" tabindex="0" class="hidden" />
            <label
              >I’m in for emails with exciting discounts and personalized
              recommendations</label
            >
          </div>
        </div>
      </div>
      <button class="login-btn" type="submit">{% translate "Sign Up" %}</button>
    </form>
    <p class="sgntrm145">
      By signing up, you agree to our
      <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>.
    </p>
    <p class="mb-0 mt-30">
      Already have an account? <a href="{% url 'account_login' %}">Log In</a>
    </p>
  </div>
  <div class="sign_footer">
    <img src="{% static 'circus/images/sign_logo.png' %}" alt="" />© 2021
    <strong>Cyber Experiment</strong>. All Rights Reserved.
  </div>
</div>
{% endblock %}
