{% extends "account/base.html" %} {% load i18n %}
{% load static %}
{% block title %}{% translate "Sign Up Closed" %}{%endblock %}
{% block content %}
<div class="col-lg-6 col-md-8">
  <div class="sign_form">
    <h2>{% translate "Sign Up Closed" %}</h2>
    <p class="sgntrm145">{% translate "We are sorry, but the sign up is currently closed." %}</p>

  </div>
  <div class="sign_footer">
    <img src="{% static 'circus/images/sign_logo.png' %}" alt="" />© 2021
    <strong>Cyber Experiment</strong>. All Rights Reserved.
  </div>
</div>
{% endblock %}
