@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*Root color in variables*/
:root{
    --logoHead:#61ce70;
    --H2header:#545957;
}
/*The End of the Root color in variables*/


/*The Default body design*/
*{
    padding:0;
    box-sizing:border-box;
    margin:0;
    font-family:"Roboto",sans-serif;
}
/*The end of Default body Design*/

/*The begining of the Desktop design*/
.nav_container{
    width:100%;
    background-color:#fff;
}
.navbar{
    display:grid;
    grid-template-columns: 0.2fr auto 1fr;
    align-items:center;
    height:85px;
    width:90%;
    max-width:1720px;
    margin:0 auto;
}
#navbar_logo{
    color:var(--logoHead);
    justify-self:start;
   font-size:clamp(1.5rem, 2vh, 1rem);
   text-decoration:none;
   font-weight:400;
}
#navbar_logo{
    cursor:pointer;
}
.nav_menu{
    display:grid;
    grid-template-columns:repeat(6, auto);
    list-style:none;
    text-align:center;
    width:100%;
}
.nav_links{
    color:var(--H2header);
    text-decoration:none;
    position:relative;
    text-transform: uppercase;
}
.nav_links:after{
    content:"";
    position:absolute;
    background-color:var(--logoHead);
    height:4px;
    width:0;
    left:0;
    bottom:-10px;
}
.nav_links:hover:after{
    width:100%;
}

.nav_links_btn{
    background-color:var(--logoHead);
    padding:7px 18px;
    margin-left:70px;
    border-radius:12px;
    color:#fff;
}
.nav_links_btn:hover:after{
    width:0;
    

}
/*The End of the nav bar design on Desktop*/



/*The beginning of the mobile responsive Design for the header*/

@media screen and (max-width: 1024px){
   .nav_container{
        position:relative;
    }

    .nav_menu{
        display:grid;
        grid-template-columns:auto;
        background:black;
        margin:0;
        width:100%;
        position:absolute;
        top:-1000px;
        left:0;
        opacity:0;
        transition:all 1.5s ease;

    }#navbar_logo{
        margin-left:20px;
    }
    .nav_menu.active{
        background:#fff;
        top:100%;
        left:0;
        opacity:1;
        transition:all 1.0s ease;
        padding:40px;

    }
    .nav_links{
        text-align:center;
        line-height:60px; 
        width:100%;
        display:table;

    }
    .navbar{
        width:100%;
    }
    .nav_links_btn{
        display:none;
    }
    .menu_toggle .bar{
        width:25px;
        height:3px;
        margin:5px auto;
        transition:all 0.3s ease-in-out; 
        background:var(--logoHead);
    
    }
    #mobile_menu{
        position:absolute;
        top:20%;
        right:5%;
        transform:translate(5%, 20%);
    }
    .menu_toggle .bar{
        display:block;
        cursor:pointer;
    }
    #mobile_menu.is-active .bar:nth-child(2){
        opacity:0
    }
    #mobile_menu.is-active .bar:nth-child(1){
        transform:translateY(8px) rotate(45deg)
    }
    #mobile_menu.is-active .bar:nth-child(3){
        transform:translateY(-8px) rotate(-45deg)
    }
}
/*The End of the mobile responsiveness of the navbar header*/
/*Hero_Section*/
.hero_section{
    background-color:#0E164e;
    background-position:cover;
    background-size:cover;
    height:80vh;
    margin-bottom:0px;
    color:white;
    font-family: "Roboto", sans-serif;
    opacity:2;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    
}
.hero_content{
    color:white;
    padding:4rem 2rem;
    line-height:4rem;
}
.hero_content h1{
    font-size:clamp(2rem, 8vw, 3rem);
    text-transform:capitalize;
    margin-bottom:1rem;
    font-weight:300;
}
.hero_content h3{
    font-size:clamp(1.2rem, 4vw, 1.5rem);
    margin-bottom:3rem;
    font-weight:50;
}
.hero_content a{
    text-decoration:none;
    background:white;
    color:#0E164e;
    font-weight:50;
    padding:1rem 2rem;
    border-radius:20px;
}
.picture_circle{
    border-radius:78% 45% 68% 23% / 77% 88% 26% 41%;
    height:400px;
}

/*End of Hero_Section*/

/*Hero Section Responsivenes*/

@media screen and (max-width:842px){
    .hero_section{
        display:table;
        width:100%;
        height:100vh;
    }
    .picture_circle{
        display:flex;
        height:200px;
        position:relative;
        align-items:center;
        justify-content:center;
    }
    .hero_content h1{
        font-size:clamp(2rem, 8vw, 3rem);
        text-transform:capitalize;
        margin-bottom:1rem;
        font-weight:300;
    }
    .hero_content h3{
        margin-bottom:1rem;
        
    }
    
}
/*End of Hero section Responsiveness*/

.section{
    align-items:center;
    justify-content:space-evenly;
    

}
.section_info{
    align-items:center;
    justify-content: center;
}
.explore{
    display:flex;
    justify-content:space-between;
    background-color:var(--backgroundColor);
    
    
}
.tags{
    margin-top:50px;
    margin-left:70px;
    margin-right:120px;
    margin-bottom:20px;
}
.section_info{
    display:flex;
    padding:3rem 5rem;
    align-items: center;
    justify-content:center;
    width:100%;
    background-color:var(--backgroundColor);
}

.desc_image{
    height:250px;
    border-radius:5px;
    
}
.Image_info{
    margin-right:35px;
    background: #fff;
    height:500px;
    border-bottom-right-radius: 5px;
    box-shadow:0 15px 10px rgba(0,0,0,0.19), 0 6px 5px rgba(0,0,0,0.23);
    justify-content:space-evenly;
    align-items:center;  
    
}
.Image_info p{
    margin-left:20px;
    margin-top:20px;
}
.Image_info h3{
    margin-top:12px;
    font-size:clamp(1rem, 3vw, 0.5rem);
    margin-left:20px;
    justify-content:center;
    align-items:center;
}

.info_btn{
    align-items:flex-end;
    justify-content:center;
    display:flex;
    text-decoration:none;
    margin-top:50px;
    margin-left:150px;
    color:#61ce70;
    cursor:pointer;
    width:50%;
    
}


@media screen and (max-width: 768px){
    .section_info{
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content:center;
        width:89.8%;
        margin-left:40px;
        
    }

    .explore{
        display:flex;
        flex-direction:row;
        justify-content:center;
        align-items:center;
        margin-left:50px;
        margin-right:30px;
    }
    .Image_info{
        margin-top:20px;
    }
    
.desc_image{
    height:240px;
    width:300px;
    border-radius:5px;
    
}
}
/*Categorie section*/
.Image_info1{
    margin-right:35px;
    background: #fff;
    height:270px;
    border-bottom-right-radius: 5px;
    box-shadow:0 15px 10px rgba(0,0,0,0.19), 0 6px 5px rgba(0,0,0,0.23);
    justify-content:space-evenly;
    align-items:center;  
    
}
.Image_info1 p{
    margin-left:20px;
    margin-top:20px;
}
.Image_info1 h3{
    margin-top:12px;
    font-size:clamp(1rem, 3vw, 0.5rem);
    margin-left:20px;
    justify-content:center;
    align-items:center;
}

.info_btn1{
    align-items:center;
    justify-content:center;
    display:flex;
    text-decoration:none;
    margin-top:50px;
    margin-left:150px;
    color:#61ce70;
    cursor:pointer;
    outline:none;
    
    
}
/*mobile responsive*/

@media screen and (max-width: 768px){
    .section_info{
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content:center;
        width:89.8%;
        margin-left: 35px;
        
    }

    .explore{
        display:flex;
        flex-direction:row;
        justify-content:center;
        align-items:center;
        margin-left:50px;
        margin-right:30px;
    }
    .Image_info1{
        margin-top:20px;
        width:300px;
        align-items: center;
        justify-content:center;
        height:300px;
    }
    .section_info1{
        width:97%;
        
    }
    .info_btn1{
        align-items:flex-start;
        justify-content:flex-start;
        display:flex;
        flex-direction: column;
        text-decoration:none;
        color:#61ce70;
        cursor:pointer;
        outline:none;


        
    }
    

}


/*let us do an experiment class*/
.let_us_do_experiment{
    background:#0E164e;
    align-items: center;
    justify-content:center;
    color:#fff;
    display:flex;
    padding:20px 30px;
    height:20rem;
}

/*End of let us do an experiment Class*/
/*research*/
.student_researcher{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-bottom:20px;
    margin-top:20px;
}
.student_researcher h1{
    margin-bottom:10px;
}
.student_researcher ul{
    margin-bottom:30px;
}
.student_researcher li{
    line-height:1.5rem;
}
.cyber_works h1{
    align-items:center;
    justify-content: center;
    display:flex;
}
.research_btn{
    background:#61ce70;
    text-decoration:none;
    padding:0.7rem 1.5rem;
    margin-top:20px;
    color:#fff;
    justify-content: flex-end;
    align-items: flex-end;
}/*End of Research*/

@media screen and (max-width:768px){
    .student_researcher{
        display:table;
        align-items: center;
        justify-content: center;
        width:300px;
    }
    .cyber_works h1{
        align-items:center;
        justify-content: center;
        display:flex;
    }.student{
        margin-left:70px;
        margin-bottom:10px;
    }
    .research{
        margin-left:70px;
    }
    #cyber_header{
        align-items:center;
        justify-content: center;
        margin-left:40px;
    }
    .let_us_do_experiment{
        align-items: center;
        width:100%;
    }
    .let_us_do_experiment h1{
        margin-left: 40px;
    }
}
/*article design*/
.article_info{
    display:flex;
    align-items:center;
    justify-content:center;
    width:85%;
    height:300px;
    border-radius: 10px;
    margin-bottom:40px;
    padding:2rem 2 rem;
    margin-left:50px;
    margin-right:100px;
    box-shadow:0 15px 10px rgba(0,0,0,0.19), 9px 10px 10px rgba(0,0,0,0.23);
}
.article_info_img{
    border-radius: 70%;
    height:220px;
    width:400px;
    margin-right:20px;
}
/*End of article design*/

/*article responsive design*/
@media screen and (max-width:768px){
    article{
        align-items:center;
        justify-content:space-evenly;
    
    }
    .article_info{
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        width:290px;
        height:400px;
        margin-right:50px;
    }
    .article_info p{
        margin:10px;
    }
    .article_info_img{
        width:150px;
        height:150px;
    }
    
}
/*End of article responsive design*/


/*The footer design for the desktop*/

.footer{
    align-items:center;
    display:flex;
    justify-content:center;
    margin-top:20px;
    background:rgb(231, 228, 228);
    height:100px;
}
.quote_para{
    font-size:1.5rem;
}
.contact_footer{
    
    color: rgb(193, 179, 179);
    display:flex;
    align-items:center;
    justify-content:space-evenly;
}
footer{
    background-color:#001c38;
    height:300px;
}
.footer_header{
    color:white;
    font-size:20px;
}
.listings{
    margin-top:20px;
    line-height:30px;
    font-weight:10;
    font-size:small;
}
.social_icons{
    display:flex;
}
.copyright{
    color:white;
    margin-left:30px;
}
.footer_separate{
    display:flex;
    align-items:center;
     margin:20px;
}

.categories{
    margin-left:30px;
}


/*The End of Footer design for the desktop view*/


/*Mobile responsive for the Footer*/
@media screen and (max-width:768px){
    footer{
        height:700px;
        width:100%;
    }
    .listings{
        align-items: flex-start;
        justify-content:space-between;
        padding:5px 20px;
        display:grid;
        width:100%;
    
    }
    .contact_footer{
        width:100%;
        display:grid;
        grid-template-columns: repeat(3 auto);
        align-items:flex-start;
        justify-content:space-evenly;
        font-size:small;
    }
    .footer_separate{
        display:flex;
    }
    
}