{% extends "./base/base.html"%} {% load i18n %} {% load static %}
{% block title %}About | Cyber Experiment{% endblock%} {% block content %}

<!-- Main content Start -->
<div class="main-content">
  <!-- Breadcrumbs Start -->
  <div class="rs-breadcrumbs breadcrumbs-overlay">
    <div class="breadcrumbs-img">
      <img
        src="{% static 'core/assets/images/breadcrumbs/2.jpg' %}"
        alt="Breadcrumbs Image"
      />
    </div>
    <div class="breadcrumbs-text white-color">
      <h1 class="page-title">About Us</h1>
      <ul>
        <li>
          <a class="active" href="{% url 'core:home' %}">Home</a>
        </li>
        <li>About Us</li>
      </ul>
    </div>
  </div>
  <!-- Breadcrumbs End -->

  <!-- Counter Section Start -->
  <div id="rs-about" class="rs-about style3 pt-100 md-pt-70">
    <div class="container">
      <div class="row y-middle">
        <div class="col-lg-4 lg-pr-0 md-mb-30">
          <div class="about-intro">
            <div class="sec-title">
              <div class="sub-title orange">About Us</div>
              <h2 class="title mb-21">The End Result of All True Learning</h2>
              <div class="desc big">
                The key to success is to appreciate how people learn, understand
                the thought process that goes into instructional design, what
                works well, and a range of differen
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 pl-83 md-pl-15">
          <div class="row rs-counter couter-area">
            <div class="col-md-4 sm-mb-30">
              <div class="counter-item one">
                <img
                  class="count-img"
                  src="{% static 'core/assets/images/about/style3/icons/1.png' %}"
                  alt=""
                />
                <h2 class="number rs-count kplus">2</h2>
                <h4 class="title mb-0">Students</h4>
              </div>
            </div>
            <div class="col-md-4 sm-mb-30">
              <div class="counter-item two">
                <img
                  class="count-img"
                  src="{% static 'core/assets/images/about/style3/icons/2.png' %}"
                  alt=""
                />
                <h2 class="number rs-count">3.50</h2>
                <h4 class="title mb-0">Average CGPA</h4>
              </div>
            </div>
            <div class="col-md-4">
              <div class="counter-item three">
                <img
                  class="count-img"
                  src="{% static 'core/assets/images/about/style3/icons/3.png' %}"
                  alt=""
                />
                <h2 class="number rs-count percent">95</h2>
                <h4 class="title mb-0">Graduates</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Counter Section End -->

  <!-- About Section Start -->
  <div
    id="rs-about-video"
    class="rs-about-video pt-100 pb-100 md-pt-70 md-pb-70"
  >
    <div class="container">
      <div class="video-img-part media-icon orange-color2">
        <img
          src="{% static 'core/assets/images/about/about-video-bg-orange.png' %}"
          alt="Video Bg Image"
        />
        <a
          class="popup-videos"
          href="https://www.youtube.com/watch?v=atMUy_bPoQI"
        >
          <i class="fa fa-play"></i>
        </a>
      </div>
    </div>
  </div>
  <!-- About Section End -->

  <!-- Team Section Start -->
  <div
    id="rs-team"
    class="
      rs-team
      style1
      inner-style
      orange-color
      pt-94
      pb-100
      md-pt-64 md-pb-70
      gray-bg
    "
  >
    <div class="container">
      <div class="sec-title mb-50 md-mb-30 text-center">
        <div class="sub-title orange">Instructor</div>
        <h2 class="title mb-0">Expert Teachers</h2>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-6 mb-30">
          <div class="team-item">
            <img src="{% static 'core/assets/images/team/1.jpg' %}" alt="" />
            <div class="content-part">
              <h4 class="name"><a href="team-single.html">Jhon Pedrocas</a></h4>
              <span class="designation">Professor</span>
              <ul class="social-links">
                <li>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-google-plus"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-30">
          <div class="team-item">
            <img src="{% static 'core/assets/images/team/2.jpg' %}" alt="" />
            <div class="content-part">
              <h4 class="name"><a href="team-single.html">Jhon Pedrocas</a></h4>
              <span class="designation">Professor</span>
              <ul class="social-links">
                <li>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-google-plus"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-30">
          <div class="team-item">
            <img src="{% static 'core/assets/images/team/3.jpg' %}" alt="" />
            <div class="content-part">
              <h4 class="name"><a href="#">Jhon Pedrocas</a></h4>
              <span class="designation">Professor</span>
              <ul class="social-links">
                <li>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-google-plus"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 md-mb-30">
          <div class="team-item">
            <img src="{% static 'core/assets/images/team/2.jpg' %}" alt="" />
            <div class="content-part">
              <h4 class="name"><a href="team-single.html">Jhon Pedrocas</a></h4>
              <span class="designation">Professor</span>
              <ul class="social-links">
                <li>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-google-plus"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 xs-mb-30">
          <div class="team-item">
            <img src="{% static 'core/assets/images/team/3.jpg' %}" alt="" />
            <div class="content-part">
              <h4 class="name"><a href="#">Jhon Pedrocas</a></h4>
              <span class="designation">Professor</span>
              <ul class="social-links">
                <li>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-google-plus"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="team-item">
            <img src="{% static 'core/assets/images/team/1.jpg' %}" alt="" />
            <div class="content-part">
              <h4 class="name"><a href="team-single.html">Jhon Pedrocas</a></h4>
              <span class="designation">Professor</span>
              <ul class="social-links">
                <li>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-google-plus"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Team Section End -->
  {% include "./utils.html"%}
</div>
<!-- Main content End -->

{% endblock %}
