{% load static %}
<!-- Categories Section Start -->
<div
  id="rs-popular-courses"
  class="rs-popular-courses main-home event-bg pt-100 pb-100 md-pt-70 md-pb-70"
>
  <div class="container">
    <div class="sec-title3 text-center mb-45">
      <div class="sub-title">Select Lab</div>
      <h2 class="title black-color">Explore Popular Lab</h2>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-30">
        <div class="courses-item">
          <div class="courses-grid">
            <div class="img-part">
              <a href="#"
                ><img
                  src="{% static 'core/assets/images/courses/main-home/1.jpg' %}"
                  alt=""
              /></a>
            </div>
            <div class="content-part">
              <div class="info-meta">
                <ul>
                  <li class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    (1 rating)
                  </li>
                </ul>
              </div>
              <div class="course-price">
                <span class="price">Free</span>
              </div>
              <h3 class="title">
                <a href="#">My Pinterest Private Experiment</a>
              </h3>
              <ul class="meta-part">
                <li class="user">
                  <i class="fa fa-user"></i>
                  25 Students
                </li>
                <li class="user">
                  <i class="fa fa-file"></i>
                  6 Lessons
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-30">
        <div class="courses-item">
          <div class="courses-grid">
            <div class="img-part">
              <a href="#"
                ><img
                  src="{% static 'core/assets/images/courses/main-home/2.jpg' %}"
                  alt=""
              /></a>
            </div>
            <div class="content-part">
              <div class="info-meta">
                <ul>
                  <li class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    (1 rating)
                  </li>
                </ul>
              </div>
              <div class="course-price">
                <span class="price">Premium</span>
              </div>
              <h3 class="title">
                <a href="#"
                  >Artificial Intelligence Fundamental Startup Justo</a
                >
              </h3>
              <ul class="meta-part">
                <li class="user">
                  <i class="fa fa-user"></i>
                  25 Students
                </li>
                <li class="user">
                  <i class="fa fa-file"></i>
                  6 Lessons
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-30">
        <div class="courses-item">
          <div class="courses-grid">
            <div class="img-part">
              <a href="#"
                ><img
                  src="{% static 'core/assets/images/courses/home8/2.jpg' %}"
                  alt=""
              /></a>
            </div>
            <div class="content-part">
              <div class="info-meta">
                <ul>
                  <li class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    (1 rating)
                  </li>
                </ul>
              </div>
              <div class="course-price">
                <span class="price">Premium</span>
              </div>
              <h3 class="title">
                <a href="#"
                  >Spend $10 on Facebook Ads to Generate 100 Sales on Shopify</a
                >
              </h3>
              <ul class="meta-part">
                <li class="user">
                  <i class="fa fa-user"></i>
                  25 Students
                </li>
                <li class="user">
                  <i class="fa fa-file"></i>
                  6 Lessons
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 md-mb-30">
        <div class="courses-item">
          <div class="courses-grid">
            <div class="img-part">
              <a href="#"
                ><img
                  src="{% static 'core/assets/images/courses/home8/4.jpg' %}"
                  alt=""
              /></a>
            </div>
            <div class="content-part">
              <div class="info-meta">
                <ul>
                  <li class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    (1 rating)
                  </li>
                </ul>
              </div>
              <div class="course-price">
                <span class="price">Premium</span>
              </div>
              <h3 class="title">
                <a href="#">Hacking Windows 11 Open Experiment</a>
              </h3>
              <ul class="meta-part">
                <li class="user">
                  <i class="fa fa-user"></i>
                  25 Students
                </li>
                <li class="user">
                  <i class="fa fa-file"></i>
                  6 Lessons
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 sm-mb-30">
        <div class="courses-item">
          <div class="courses-grid">
            <div class="img-part">
              <a href="#"
                ><img
                  src="{% static 'core/assets/images/courses/home8/5.jpg' %}"
                  alt=""
              /></a>
            </div>
            <div class="content-part">
              <div class="info-meta">
                <ul>
                  <li class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    (1 rating)
                  </li>
                </ul>
              </div>
              <div class="course-price">
                <span class="price">Free</span>
              </div>
              <h3 class="title">
                <a href="#">Lawyer Advance Mental Simulator Handle Nulla</a>
              </h3>
              <ul class="meta-part">
                <li class="user">
                  <i class="fa fa-user"></i>
                  25 Students
                </li>
                <li class="user">
                  <i class="fa fa-file"></i>
                  6 Lessons
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="courses-item">
          <div class="courses-grid">
            <div class="img-part">
              <a href="#"
                ><img
                  src="{% static 'core/assets/images/courses/home8/6.jpg' %}"
                  alt=""
              /></a>
            </div>
            <div class="content-part">
              <div class="info-meta">
                <ul>
                  <li class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    (1 rating)
                  </li>
                </ul>
              </div>
              <div class="course-price">
                <span class="price">Free</span>
              </div>
              <h3 class="title">
                <a href="#">Computer Fundamentals Basic Startup Ultricies</a>
              </h3>
              <ul class="meta-part">
                <li class="user">
                  <i class="fa fa-user"></i>
                  25 Students
                </li>
                <li class="user">
                  <i class="fa fa-file"></i>
                  6 Lessons
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Categories Section End -->
