{% load static %}
<!-- Categories Section Start -->
<div
  id="rs-popular-courses"
  class="rs-popular-courses main-home event-bg pt-100 pb-100 md-pt-70 md-pb-70"
>
  <div class="container">
    <div class="sec-title3 text-center mb-45">
      <div class="sub-title">Select Experiment</div>
      <h2 class="title black-color">Explore Popular Experiment</h2>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-30">
        <div class="courses-item">
          <div class="courses-grid">
            <div class="img-part">
              <a href="#"
                ><img
                  src="{% static 'core/assets/images/courses/main-home/1.jpg' %}"
                  alt=""
              /></a>
            </div>
            <div class="content-part">
              <div class="info-meta">
                <ul>
                  <li class="ratings">
                    <i class="fa fa-user"></i>
                    by CNC
                  </li>
                </ul>
              </div>
              <div class="course-price">
                <span class="price">Free</span>
              </div>
              <h3 class="title">
                <a href="#">My Pinterest Private Experiment</a>
              </h3>
              <p>This an experiment I am Conducting for users</p>
              <a href="#" class="btn btn-outline-warning">Follow</a>
              <ul class="meta-part">
                <li class="user">
                  <i class="fa fa-user"></i>
                  25 Followers
                </li>
                <li class="user">
                  <i class="fa fa-comment"></i>
                  50 comments
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Categories Section End -->
