{% extends "./base/base.html"%} {% load i18n %} {% load static %}
{% block title %}Home | follower{% endblock%} {% block content %}
		<!-- Main content Start -->
        <div class="main-content">
              <!-- Breadcrumbs Start -->
  <div class="rs-breadcrumbs breadcrumbs-overlay">
    <div class="breadcrumbs-img">
      <img
        src="{% static 'core/assets/images/breadcrumbs/2.jpg' %}"
        alt="Breadcrumbs Image"
      />
    </div>
    <div class="breadcrumbs-text white-color">
      <h1 class="page-title">Followers</h1>
      <ul>
        <li>
          <a class="active" href="{% url 'core:home' %}">Home</a>
        </li>
        <li>Followers</li>
      </ul>
    </div>
  </div>
  <!-- Breadcrumbs End -->

            <!-- Categors Section Start -->
            <div class="rs-categories style2 pt-100 pb-100 md-pt-70 md-pb-70">
                <div class="container">
                    <div class="sec-title6 text-center mb-55 md-mb-25">
                        <span class="sub-title pb-10">Browse ExpExperiment</span>
                       <h2 class="title title2">Popular ExpExperiment to Learn</h2>
                    </div>
                    <div class="rs-carousel owl-carousel" data-loop="true" data-items="5" data-margin="30" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false" data-nav="true" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="2" data-ipad-device-nav="true" data-ipad-device-dots="false" data-ipad-device2="1" data-ipad-device-nav2="true" data-ipad-device-dots2="false" data-md-device="5" data-md-device-nav="true" data-md-device-dots="false">
                        <div class="categories-items">
                            <div class="cate-item">
                                <div class="cate-img">
                                    <img src="{% static 'core/assets/images/categories/style1/1.png' %}" alt="">
                                </div>
                                <div class="cate-content">
                                    <h3 class="title"><a href="#">Artificial Intelligence</a></h3>
                                    <span class="course-qnty"> 02 Experiment </span>
                                </div>
                            </div>
                        </div>
                        <div class="categories-items">
                            <div class="cate-item">
                                <div class="cate-img">
                                    <img src="{% static 'core/assets/images/categories/style1/2.png' %}" alt="">
                                </div>
                                <div class="cate-content">
                                    <h3 class="title"><a href="#">Business Studies</a></h3>
                                    <span class="course-qnty"> 02 Experiment </span>
                                </div>
                            </div>
                        </div>
                        <div class="categories-items">
                            <div class="cate-item">
                                <div class="cate-img">
                                    <img src="{% static 'core/assets/images/categories/style1/3.png' %}" alt="">
                                </div>
                                <div class="cate-content">
                                    <h3 class="title"><a href="#">Artificial Intelligence</a></h3>
                                    <span class="course-qnty"> 02 Experiment </span>
                                </div>
                            </div>
                        </div>
                        <div class="categories-items">
                            <div class="cate-item">
                                <div class="cate-img">
                                    <img src="{% static 'core/assets/images/categories/style1/4.png' %}" alt="">
                                </div>
                                <div class="cate-content">
                                    <h3 class="title"><a href="#">Civil Engineering</a></h3>
                                    <span class="course-qnty"> 02 Experiment </span>
                                </div>
                            </div>
                        </div>
                        <div class="categories-items">
                            <div class="cate-item">
                                <div class="cate-img">
                                    <img src="{% static 'core/assets/images/categories/style1/5.png' %}" alt="">
                                </div>
                                <div class="cate-content">
                                    <h3 class="title"><a href="#">Computer Engineering</a></h3>
                                    <span class="course-qnty"> 02 Experiment </span>
                                </div>
                            </div>
                        </div>
                        <div class="categories-items">
                            <div class="cate-item">
                                <div class="cate-img">
                                    <img src="{% static 'core/assets/images/categories/style1/6.png' %}" alt="">
                                </div>
                                <div class="cate-content">
                                    <h3 class="title"><a href="#">General Education</a></h3>
                                    <span class="course-qnty"> 02 Experiment </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sec-title5 text-center mt-40 md-mt-25 pb-100 md-pb-70">
                        <div class="description title-color">
                            Start Learning With Our Trending Experiment.
                            <span><a href="#">View All Experiment<i class="flaticon-right-arrow"></i></a></span>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Categors Section End -->

            <!-- Popular Courses Section Start -->
            <div id="rs-popular-courses" class="rs-popular-courses style6 gray-bg4 pt-100 pb-100 md-pt-70 md-pb-70">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 mb-50">
                            <div class="sec-title6">
                               <span class="sub-title pb-10">Featured Premuim</span>
                               <h2 class="title title2">Explore Our Premuim Experiment</h2>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="gridFilter style2 modify1 mb-10">
                                <button class="active" data-filter="*">All</button>
                                <button data-filter=".filter1">Civil Engineering</button>
                                <button data-filter=".filter2">Lawyer Course</button>
                                <button data-filter=".filter3">Life Course</button>
                            </div>
                        </div>
                    </div>
                    <div class="row grid">
                        <div class="col-lg-3 col-md-6 grid-item filter1">
                            <div class="courses-item mb-30">
                                <div class="img-part">
                                    <a href="#"><img src="{% static 'core/assets/images/courses/style5/1.jpg' %}" alt="Courses"></a>
                                </div>
                                <div class="content-part">
                                    <h3 class="title"><a href="course-single.html">Fitness Development Strategy Buildup Laoreet Malesuada</a></h3>
                                    <ul class="meta-part">
                                        <li><span class="price">Free</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 grid-item filter4 filter1">
                            <div class="courses-item mb-30">
                                <div class="img-part">
                                    <a href="#"><img src="{% static 'core/assets/images/courses/style5/2.jpg' %}" alt="Courses"></a>
                                </div>
                                <div class="content-part">
                                    <h3 class="title"><a href="course-single.html">Lawyer Advance Mental Simulator Handle Nulla Tellus</a></h3>
                                    <ul class="meta-part">
                                        <li><span class="price">Premuim</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 grid-item filter3 filter2">
                            <div class="courses-item mb-30">
                                <div class="img-part">
                                    <a href="#"><img src="{% static 'core/assets/images/courses/style5/3.jpg' %}" alt="Courses"></a>
                                </div>
                                <div class="content-part">
                                    <h3 class="title"><a href="course-single.html">Focus On Building Amazing Empire Strategy Tempor Justo</a></h3>
                                    <ul class="meta-part">
                                        <li><span class="price">Premuim</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 grid-item filter1 filter2">
                            <div class="courses-item mb-30">
                                <div class="img-part">
                                    <a href="#"><img src="{% static 'core/assets/images/courses/style5/4.jpg' %}" alt="Courses"></a>
                                </div>
                                <div class="content-part">
                                    <h3 class="title"><a href="course-single.html">Dream Body Weight Loss & Nutrition Simulator</a></h3>
                                    <ul class="meta-part">
                                        <li><span class="price">Premuim</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 grid-item filter2 filter4">
                            <div class="courses-item mb-30">
                                <div class="img-part">
                                    <a href="#"><img src="{% static 'core/assets/images/courses/style5/5.jpg' %}" alt="Courses"></a>
                                </div>
                                <div class="content-part">
                                    <h3 class="title"><a href="course-single.html">Coaches Let You Vent, Then They Offer Advice</a></h3>
                                    <ul class="meta-part">
                                        <li><span class="price">Premuim</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 grid-item filter1 filter4">
                            <div class="courses-item mb-30">
                                <div class="img-part">
                                    <a href="#"><img src="{% static 'core/assets/images/courses/style5/6.jpg' %}" alt="Courses"></a>
                                </div>
                                <div class="content-part">
                                    <h3 class="title"><a href="course-single.html">Life coaches on break the first rule of therapy</a></h3>
                                    <ul class="meta-part">
                                        <li><span class="price">Premuim</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 grid-item filter1 filter6">
                            <div class="courses-item">
                                <div class="img-part">
                                    <a href="#"><img src="{% static 'core/assets/images/courses/style5/7.jpg' %}" alt="Courses"></a>
                                </div>
                                <div class="content-part">
                                    <h3 class="title"><a href="course-single.html">The Life Coach Different from a Therapist?</a></h3>
                                    <ul class="meta-part">
                                        <li><span class="price">Premuim</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 grid-item filter6 filter2">
                            <div class="courses-item">
                                <div class="img-part">
                                   <a href="#"><img src="{% static 'core/assets/images/courses/style5/8.jpg' %}" alt="Courses"></a>
                                </div>
                                <div class="content-part">
                                    <h3 class="title"><a href="course-single.html">Coaches are The Only Ones Trained in Tony Robbins</a></h3>
                                    <ul class="meta-part">
                                        <li><span class="price">Premuim</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sec-title5 text-center mt-20">
                        <div class="description title-color">
                            Start Learning With Our Trending Experiment.
                            <span><a href="#">View All Experiment<i class="flaticon-right-arrow"></i></a></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Popular Courses Section End -->
            <!-- Cta Section Start -->
            <div class="rs-cta effects-layer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="effects-bg apply-bg">
                                <div class="content-part">
                                    <h2 class="title">Become A Researcher</h2>
                                    <div class="description mb-27">Lorem ipsum dolor sit amet, consectetur adipisi elit, sed eius to mod tempor incididunt ut labor
                                    ets.</div>
                                    <div class="btn-part">
                                        <a class="readon2 cta-btn" href="#">Get Started</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                           <div class="effects-bg enroll-bg">
                               <div class="content-part">
                                   <h2 class="title">Follower</h2>
                                   <div class="description mb-27">Lorem ipsum dolor sit amet, consectetur adipisi elit, sed eius to mod tempor incididunt ut labor
                                   ets.</div>
                                   <div class="btn-part">
                                       <a class="readon2 cta-btn" href="#">Login To Follow</a>
                                   </div>
                               </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Cta Section End -->

            {% include './utils.html' %}

        </div>
        <!-- Main content End -->
{% endblock %}
