{% extends "./base/base.html"%} {% load i18n %} {% load static %}
{% block title %}Home | cyber Experiment{% endblock%} {% block content %}
<!-- Slider Section Start -->
<div class="rs-slider main-home">
  <div
    class="rs-carousel owl-carousel"
    data-loop="true"
    data-items="1"
    data-margin="0"
    data-autoplay="true"
    data-hoverpause="true"
    data-autoplay-timeout="5000"
    data-smart-speed="800"
    data-dots="false"
    data-nav="false"
    data-nav-speed="false"
    data-center-mode="false"
    data-mobile-device="1"
    data-mobile-device-nav="false"
    data-mobile-device-dots="false"
    data-ipad-device="1"
    data-ipad-device-nav="false"
    data-ipad-device-dots="false"
    data-ipad-device2="1"
    data-ipad-device-nav2="false"
    data-ipad-device-dots2="false"
    data-md-device="1"
    data-md-device-nav="true"
    data-md-device-dots="false"
  >
    <div class="slider-content slide1">
      <div class="container">
        <div class="content-part">
          <div
            class="sl-sub-title wow bounceInLeft"
            data-wow-delay="300ms"
            data-wow-duration="2000ms"
          >
            Start A Cyber Experiment
          </div>
          <h1
            class="sl-title wow fadeInRight"
            data-wow-delay="600ms"
            data-wow-duration="2000ms"
          >
            Start A Cyber Experiment
          </h1>
          <div
            class="sl-btn wow fadeInUp"
            data-wow-delay="900ms"
            data-wow-duration="2000ms"
          >
            <a class="readon orange-btn main-home" href="#">Find Experiments</a>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-content slide2">
      <div class="container">
        <div class="content-part">
          <div
            class="sl-sub-title wow bounceInLeft"
            data-wow-delay="300ms"
            data-wow-duration="2000ms"
          >
            Start to learning today
          </div>
          <h1
            class="sl-title wow fadeInRight"
            data-wow-delay="600ms"
            data-wow-duration="2000ms"
          >
            Explore Interests and Career With Cyber Experiment
          </h1>
          <div
            class="sl-btn wow fadeInUp"
            data-wow-delay="900ms"
            data-wow-duration="2000ms"
          >
            <a class="readon orange-btn main-home" href="#"
              >Find New Experiment</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Features Section start -->
  <div id="rs-features" class="rs-features main-home">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 md-mb-30">
          <div class="features-wrap">
            <div class="icon-part">
              <img
                src="{% static 'core/assets/images/features/icon/3.png' %}"
                alt=""
              />
            </div>
            <div class="content-part">
              <h4 class="title">
                <span class="watermark">5,320 online Lab</span>
              </h4>
              <p class="dese">Enjoy a variety of fresh topics</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 md-mb-30">
          <div class="features-wrap">
            <div class="icon-part">
              <img
                src="{% static 'core/assets/images/features/icon/2.png' %}"
                alt=""
              />
            </div>
            <div class="content-part">
              <h4 class="title">
                <span class="watermark">Expert instruction</span>
              </h4>
              <p class="dese">Find the right instructor</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12">
          <div class="features-wrap">
            <div class="icon-part">
              <img
                src="{% static 'core/assets/images/features/icon/1.png' %}"
                alt=""
              />
            </div>
            <div class="content-part">
              <h4 class="title">
                <span class="watermark">Lifetime access</span>
              </h4>
              <p class="dese">Learn on your schedule</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Features Section End -->
</div>
<!-- Slider Section End -->

<!-- Categories Section Start -->
<div
  id="rs-categories"
  class="rs-categories main-home pt-90 pb-100 md-pt-60 md-pb-40"
>
  <div class="container">
    <div class="sec-title3 text-center mb-45">
      <div class="sub-title">Top Categories</div>
      <h2 class="title black-color">Popular Online Categories</h2>
    </div>
    <div class="row mb-35">
      <div class="col-lg-4 col-md-6 mb-30">
        <div class="categories-items">
          <div class="cate-images">
            <a href="#"
              ><img src="{% static 'core/assets/images/crypto.jpeg' %}" alt=""
            /></a>
          </div>
          <div class="contents">
            <div class="img-part">
              <img
                src="{% static 'core/assets/images/categories/main-home/icon/1.png' %}"
                alt=""
              />
            </div>
            <div class="content-wrap">
              <h2 class="title"><a href="#">Cryptocurrency</a></h2>
              <span class="course-qnty">02 Lab</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-30">
        <div class="categories-items">
          <div class="cate-images">
            <a href="#"
              ><img
                src="{% static 'core/assets/images/socailmedia.jpeg' %}"
                alt=""
            /></a>
          </div>
          <div class="contents">
            <div class="img-part">
              <img
                src="{% static 'core/assets/images/categories/main-home/icon/2.png' %}"
                alt=""
              />
            </div>
            <div class="content-wrap">
              <h2 class="title"><a href="#">Social Media</a></h2>
              <span class="course-qnty">02 Lab</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-30">
        <div class="categories-items">
          <div class="cate-images">
            <a href="#"
              ><img src="{% static 'core/assets/images/seo.jpeg' %}" alt=""
            /></a>
          </div>
          <div class="contents">
            <div class="img-part">
              <img
                src="{% static 'core/assets/images/categories/main-home/icon/3.png' %}"
                alt=""
              />
            </div>
            <div class="content-wrap">
              <h2 class="title"><a href="#">Blogging & SEO</a></h2>
              <span class="course-qnty">02 Lab</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-30">
        <div class="categories-items">
          <div class="cate-images">
            <a href="#"
              ><img src="{% static 'core/assets/images/cyber2.png' %}" alt=""
            /></a>
          </div>
          <div class="contents">
            <div class="img-part">
              <img
                src="{% static 'core/assets/images/categories/main-home/icon/4.png' %}"
                alt=""
              />
            </div>
            <div class="content-wrap">
              <h2 class="title"><a href="#">Cyber Security</a></h2>
              <span class="course-qnty">02 Lab</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-30">
        <div class="categories-items">
          <div class="cate-images">
            <a href="#"
              ><img
                src="{% static 'core/assets/images/cyber4.jpeg' %}"
                alt=""
            /></a>
          </div>
          <div class="contents">
            <div class="img-part">
              <img
                src="{% static 'core/assets/images/categories/main-home/icon/5.png' %}"
                alt=""
              />
            </div>
            <div class="content-wrap">
              <h2 class="title"><a href="#">Affiliate Marketing</a></h2>
              <span class="course-qnty">62 Lab</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-30">
        <div class="categories-items">
          <div class="cate-images">
            <a href="#"
              ><img
                src="{% static 'core/assets/images/programming.jpeg' %}"
                alt=""
            /></a>
          </div>
          <div class="contents">
            <div class="img-part">
              <img
                src="{% static 'core/assets/images/categories/main-home/icon/6.png' %}"
                alt=""
              />
            </div>
            <div class="content-wrap">
              <h2 class="title"><a href="#">Programming</a></h2>
              <span class="course-qnty">42 Lab</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 text-center">
      <a class="readon orange-btn main-home" href="#">View All categories </a>
    </div>
  </div>
</div>
<!-- Categories Section End -->

<!-- Categories Section Start -->
<div
  id="rs-popular-courses"
  class="rs-popular-courses main-home event-bg pt-100 pb-100 md-pt-70 md-pb-70"
>
  <div class="container">
    <div class="sec-title3 text-center mb-45">
      <div class="sub-title">Select Lab</div>
      <h2 class="title black-color">Explore Popular Lab</h2>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-30">
        <div class="courses-item">
          <div class="courses-grid">
            <div class="img-part">
              <a href="#"
                ><img
                  src="{% static 'core/assets/images/courses/main-home/1.jpg' %}"
                  alt=""
              /></a>
            </div>
            <div class="content-part">
              <div class="info-meta">
                <ul>
                  <li class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    (1 rating)
                  </li>
                </ul>
              </div>
              <div class="course-price">
                <span class="price">Free</span>
              </div>
              <h3 class="title">
                <a href="#">My Pinterest Private Experiment</a>
              </h3>
              <ul class="meta-part">
                <li class="user">
                  <i class="fa fa-user"></i>
                  25 Students
                </li>
                <li class="user">
                  <i class="fa fa-file"></i>
                  6 Lessons
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-30">
        <div class="courses-item">
          <div class="courses-grid">
            <div class="img-part">
              <a href="#"
                ><img
                  src="{% static 'core/assets/images/courses/main-home/2.jpg' %}"
                  alt=""
              /></a>
            </div>
            <div class="content-part">
              <div class="info-meta">
                <ul>
                  <li class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    (1 rating)
                  </li>
                </ul>
              </div>
              <div class="course-price">
                <span class="price">Premium</span>
              </div>
              <h3 class="title">
                <a href="#"
                  >Artificial Intelligence Fundamental Startup Justo</a
                >
              </h3>
              <ul class="meta-part">
                <li class="user">
                  <i class="fa fa-user"></i>
                  25 Students
                </li>
                <li class="user">
                  <i class="fa fa-file"></i>
                  6 Lessons
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-30">
        <div class="courses-item">
          <div class="courses-grid">
            <div class="img-part">
              <a href="#"
                ><img
                  src="{% static 'core/assets/images/courses/home8/2.jpg' %}"
                  alt=""
              /></a>
            </div>
            <div class="content-part">
              <div class="info-meta">
                <ul>
                  <li class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    (1 rating)
                  </li>
                </ul>
              </div>
              <div class="course-price">
                <span class="price">Premium</span>
              </div>
              <h3 class="title">
                <a href="#"
                  >Spend $10 on Facebook Ads to Generate 100 Sales on Shopify</a
                >
              </h3>
              <ul class="meta-part">
                <li class="user">
                  <i class="fa fa-user"></i>
                  25 Students
                </li>
                <li class="user">
                  <i class="fa fa-file"></i>
                  6 Lessons
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 md-mb-30">
        <div class="courses-item">
          <div class="courses-grid">
            <div class="img-part">
              <a href="#"
                ><img
                  src="{% static 'core/assets/images/courses/home8/4.jpg' %}"
                  alt=""
              /></a>
            </div>
            <div class="content-part">
              <div class="info-meta">
                <ul>
                  <li class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    (1 rating)
                  </li>
                </ul>
              </div>
              <div class="course-price">
                <span class="price">Premium</span>
              </div>
              <h3 class="title">
                <a href="#">Hacking Windows 11 Open Experiment</a>
              </h3>
              <ul class="meta-part">
                <li class="user">
                  <i class="fa fa-user"></i>
                  25 Students
                </li>
                <li class="user">
                  <i class="fa fa-file"></i>
                  6 Lessons
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 sm-mb-30">
        <div class="courses-item">
          <div class="courses-grid">
            <div class="img-part">
              <a href="#"
                ><img
                  src="{% static 'core/assets/images/courses/home8/5.jpg' %}"
                  alt=""
              /></a>
            </div>
            <div class="content-part">
              <div class="info-meta">
                <ul>
                  <li class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    (1 rating)
                  </li>
                </ul>
              </div>
              <div class="course-price">
                <span class="price">Free</span>
              </div>
              <h3 class="title">
                <a href="#">Lawyer Advance Mental Simulator Handle Nulla</a>
              </h3>
              <ul class="meta-part">
                <li class="user">
                  <i class="fa fa-user"></i>
                  25 Students
                </li>
                <li class="user">
                  <i class="fa fa-file"></i>
                  6 Lessons
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="courses-item">
          <div class="courses-grid">
            <div class="img-part">
              <a href="#"
                ><img
                  src="{% static 'core/assets/images/courses/home8/6.jpg' %}"
                  alt=""
              /></a>
            </div>
            <div class="content-part">
              <div class="info-meta">
                <ul>
                  <li class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    (1 rating)
                  </li>
                </ul>
              </div>
              <div class="course-price">
                <span class="price">Free</span>
              </div>
              <h3 class="title">
                <a href="#">Computer Fundamentals Basic Startup Ultricies</a>
              </h3>
              <ul class="meta-part">
                <li class="user">
                  <i class="fa fa-user"></i>
                  25 Students
                </li>
                <li class="user">
                  <i class="fa fa-file"></i>
                  6 Lessons
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Categories Section End -->

<!-- CTA Section Start -->
<div class="rs-cta main-home">
  <div class="partition-bg-wrap">
    <div class="container">
      <div class="row">
        <div class="offset-lg-6"></div>
        <div class="col-lg-6 pl-70 md-pl-15">
          <div class="sec-title3 mb-40">
            <h2 class="title white-color mb-16">
              20% Offer Running - Join Today
            </h2>
            <div class="desc white-color pr-100 md-pr-0">
              We denounce with righteous indignation and dislike men who are so
              beguiled and demoralized by the charms of pleasure of your moment,
              so blinded by desire those who fail in their duty through
              weakness. These cases are perfectly simple and easy every pleasure
              is to be welcomed and every pain avoided.
            </div>
          </div>
          <div class="btn-part">
            <a class="readon orange-btn transparent" href="#">Register Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- CTA Section End -->

{% include './utils.html' %} {% endblock %}
