{% extends "./base/base.html"%} {% load i18n %} {% load static %}
{% block title %}Home | Instructors{% endblock%} {% block content %}
<!-- Main content Start -->
<div class="main-content">
  <!-- Banner Section Start -->
  <div id="rs-banner" class="rs-banner style10">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 pl-60 order-last">
          <div class="img-part">
            <img
              class="up-down-new"
              src="assets/images/banner/home12/1.png"
              alt=""
            />
          </div>
        </div>
        <div class="col-lg-6 pr-0">
          <div class="banner-content">
            <div
              class="sl-sub-title wow bounceInLeft"
              data-wow-delay="300ms"
              data-wow-duration="2000ms"
            >
              Freelancer Courses
            </div>
            <h1
              class="sl-title wow fadeInLeft"
              data-wow-delay="300ms"
              data-wow-duration="3000ms"
            >
              We Proudly Teaching Online Courses With Online Experts.
            </h1>
            <div
              class="banner-btn wow fadeInUp"
              data-wow-delay="1500ms"
              data-wow-duration="2000ms"
            >
              <a class="readon green-banner" href="#">Get Started</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="banner-intro-box">
      <div class="shape-img">
        <img
          class="up-down-new"
          src="assets/images/banner/home12/dotted-shape.png"
          alt=""
        />
      </div>
      <div class="intro-img">
        <img
          class="spine2"
          src="assets/images/banner/home12/intro-box.png"
          alt=""
        />
      </div>
    </div>
  </div>
  <!-- Banner Section End -->

  <!-- Partner Start -->
  <div class="rs-partner style2 pt-100 md-pt-70">
    <div class="container">
      <div
        class="rs-carousel owl-carousel"
        data-loop="true"
        data-items="5"
        data-margin="30"
        data-autoplay="true"
        data-hoverpause="true"
        data-autoplay-timeout="5000"
        data-smart-speed="800"
        data-dots="false"
        data-nav="false"
        data-nav-speed="false"
        data-center-mode="false"
        data-mobile-device="1"
        data-mobile-device-nav="false"
        data-mobile-device-dots="false"
        data-ipad-device="3"
        data-ipad-device-nav="false"
        data-ipad-device-dots="false"
        data-ipad-device2="2"
        data-ipad-device-nav2="false"
        data-ipad-device-dots2="false"
        data-md-device="5"
        data-md-device-nav="false"
        data-md-device-dots="false"
      >
        <div class="partner-item">
          <a href="#"
            ><img src="assets/images/partner/style3/1.png" alt=""
          /></a>
        </div>
        <div class="partner-item">
          <a href="#"
            ><img src="assets/images/partner/style3/2.png" alt=""
          /></a>
        </div>
        <div class="partner-item">
          <a href="#"
            ><img src="assets/images/partner/style3/3.png" alt=""
          /></a>
        </div>
        <div class="partner-item">
          <a href="#"
            ><img src="assets/images/partner/style3/4.png" alt=""
          /></a>
        </div>
        <div class="partner-item">
          <a href="#"
            ><img src="assets/images/partner/style3/5.png" alt=""
          /></a>
        </div>
      </div>
    </div>
  </div>
  <!-- Partner End -->

  <!-- Services Section Start -->
  <div id="rs-services" class="rs-services home12-style">
    <div class="container">
      <div class="sec-title4 text-center mb-50">
        <div class="sub-title">Increase Your Skill</div>
        <h2 class="title purple-color">Explore Top Subjects</h2>
      </div>
      <div class="row">
        <div class="col-lg-4 md-mb-30">
          <div class="services-item">
            <div class="services-image">
              <div class="services-icons">
                <img src="assets/images/services/home12/1.png" alt="" />
              </div>
              <div class="services-text">
                <div class="services-title">
                  <h2 class="title">Web Development</h2>
                </div>
                <p class="text">
                  Lorem ipsum dolor sit amet, conseced tetur adipiscing elit,
                  sed do eiusmod tempor dolore magna mere jan
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 md-mb-30">
          <div class="services-item">
            <div class="services-image">
              <div class="services-icons">
                <img src="assets/images/services/home12/2.png" alt="" />
              </div>
              <div class="services-text">
                <div class="services-title">
                  <h2 class="title">Web Design</h2>
                </div>
                <p class="text">
                  Lorem ipsum dolor sit amet, conseced tetur adipiscing elit,
                  sed do eiusmod tempor dolore magna mere jan
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="services-item">
            <div class="services-image">
              <div class="services-icons">
                <img src="assets/images/services/home12/3.png" alt="" />
              </div>
              <div class="services-text">
                <div class="services-title">
                  <h2 class="title">SEO Optimization</h2>
                </div>
                <p class="text">
                  Lorem ipsum dolor sit amet, conseced tetur adipiscing elit,
                  sed do eiusmod tempor dolore magna mere jan
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 text-center pt-45">
        <a class="readon green-btn" href="#">View All Subjects </a>
      </div>
    </div>
  </div>
  <!-- Services Section End -->

  <!-- Categories Section Start -->
  <div
    id="rs-popular-courses"
    class="
      rs-popular-courses
      main-home
      home12-style
      pt-90
      pb-100
      md-pt-0 md-pb-0
    "
  >
    <div class="container">
      <div class="sec-title4 text-center mb-45">
        <div class="sub-title">Select Courses</div>
        <h2 class="title black-color">Explore Popular Courses</h2>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-30">
          <div class="courses-item">
            <div class="courses-grid">
              <div class="img-part">
                <a href="#"
                  ><img src="assets/images/courses/home12/1.jpg" alt=""
                /></a>
              </div>
              <div class="content-part">
                <div class="info-meta">
                  <ul>
                    <li class="ratings">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      (1 rating)
                    </li>
                  </ul>
                </div>
                <div class="course-price">
                  <span class="price">Free</span>
                </div>
                <h3 class="title">
                  <a href="#">Fitness Development Strategy Buildup Laoreet</a>
                </h3>
                <ul class="meta-part">
                  <li class="user">
                    <i class="fa fa-user"></i>
                    25 Students
                  </li>
                  <li class="user">
                    <i class="fa fa-file"></i>
                    6 Lessons
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-30">
          <div class="courses-item">
            <div class="courses-grid">
              <div class="img-part">
                <a href="#"
                  ><img src="assets/images/courses/home12/2.jpg" alt=""
                /></a>
              </div>
              <div class="content-part">
                <div class="info-meta">
                  <ul>
                    <li class="ratings">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      (1 rating)
                    </li>
                  </ul>
                </div>
                <div class="course-price">
                  <span class="price">$40.00</span>
                </div>
                <h3 class="title">
                  <a href="#">Artificial Intelligence Fundamental Startup.</a>
                </h3>
                <ul class="meta-part">
                  <li class="user">
                    <i class="fa fa-user"></i>
                    25 Students
                  </li>
                  <li class="user">
                    <i class="fa fa-file"></i>
                    6 Lessons
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-30">
          <div class="courses-item">
            <div class="courses-grid">
              <div class="img-part">
                <a href="#"
                  ><img src="assets/images/courses/home12/3.jpg" alt=""
                /></a>
              </div>
              <div class="content-part">
                <div class="info-meta">
                  <ul>
                    <li class="ratings">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      (1 rating)
                    </li>
                  </ul>
                </div>
                <div class="course-price">
                  <span class="price">$35.00</span>
                </div>
                <h3 class="title">
                  <a href="#">Computer Science Startup et Commodo.</a>
                </h3>
                <ul class="meta-part">
                  <li class="user">
                    <i class="fa fa-user"></i>
                    25 Students
                  </li>
                  <li class="user">
                    <i class="fa fa-file"></i>
                    6 Lessons
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 md-mb-30">
          <div class="courses-item">
            <div class="courses-grid">
              <div class="img-part">
                <a href="#"
                  ><img src="assets/images/courses/home12/4.jpg" alt=""
                /></a>
              </div>
              <div class="content-part">
                <div class="info-meta">
                  <ul>
                    <li class="ratings">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      (1 rating)
                    </li>
                  </ul>
                </div>
                <div class="course-price">
                  <span class="price">$32.00</span>
                </div>
                <h3 class="title">
                  <a href="#"
                    >Testy & Delicious Food Recipes for Lunch Tellus</a
                  >
                </h3>
                <ul class="meta-part">
                  <li class="user">
                    <i class="fa fa-user"></i>
                    25 Students
                  </li>
                  <li class="user">
                    <i class="fa fa-file"></i>
                    6 Lessons
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 sm-mb-30">
          <div class="courses-item">
            <div class="courses-grid">
              <div class="img-part">
                <a href="#"
                  ><img src="assets/images/courses/home12/5.jpg" alt=""
                /></a>
              </div>
              <div class="content-part">
                <div class="info-meta">
                  <ul>
                    <li class="ratings">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      (1 rating)
                    </li>
                  </ul>
                </div>
                <div class="course-price">
                  <span class="price">$22.00</span>
                </div>
                <h3 class="title">
                  <a href="#">Lawyer Advance Mental Simulator Handle Nulla</a>
                </h3>
                <ul class="meta-part">
                  <li class="user">
                    <i class="fa fa-user"></i>
                    25 Students
                  </li>
                  <li class="user">
                    <i class="fa fa-file"></i>
                    6 Lessons
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="courses-item">
            <div class="courses-grid">
              <div class="img-part">
                <a href="#"
                  ><img src="assets/images/courses/home12/6.jpg" alt=""
                /></a>
              </div>
              <div class="content-part">
                <div class="info-meta">
                  <ul>
                    <li class="ratings">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      (1 rating)
                    </li>
                  </ul>
                </div>
                <div class="course-price">
                  <span class="price">$28.00</span>
                </div>
                <h3 class="title">
                  <a href="#">Computer Fundamentals Basic Startup Ultricies</a>
                </h3>
                <ul class="meta-part">
                  <li class="user">
                    <i class="fa fa-user"></i>
                    25 Students
                  </li>
                  <li class="user">
                    <i class="fa fa-file"></i>
                    6 Lessons
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Categories Section End -->

  <!-- Choose Section Start -->
  <div class="why-choose-us style3">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 js-tilt md-mb-40">
          <div class="img-part">
            <img src="assets/images/choose/home12/1.png" alt="" />
          </div>
        </div>
        <div class="col-lg-6 pl-60 md-pl-15">
          <div class="sec-title3 mb-30">
            <h2 class="title new-title margin-0 pb-15">Why Learn Here</h2>
            <div class="new-desc">
              Lorem ipsum dolor sit amet, ing elit, sed eius to mod tempors
              incididunt ut labore et dolore magna this aliqua.
            </div>
          </div>
          <div class="services-part mb-20">
            <div class="services-icon">
              <img src="assets/images/choose/home12/icon/1.png" alt="" />
            </div>
            <div class="services-text">
              <h2 class="title">Lower Learning Cost</h2>
              <p class="services-txt">
                At vero eos et accusamus et iusto odio dignissimos ducimus qui
                blanditiis praesentium.
              </p>
            </div>
          </div>
          <div class="services-part mb-20">
            <div class="services-icon">
              <img src="assets/images/choose/home12/icon/2.png" alt="" />
            </div>
            <div class="services-text">
              <h2 class="title">Learn With Experts</h2>
              <p class="services-txt">
                At vero eos et accusamus et iusto odio dignissimos ducimus qui
                blanditiis praesentium.
              </p>
            </div>
          </div>
          <div class="services-part">
            <div class="services-icon">
              <img src="assets/images/choose/home12/icon/3.png" alt="" />
            </div>
            <div class="services-text">
              <h2 class="title">Different Course Variation</h2>
              <p class="services-txt">
                At vero eos et accusamus et iusto odio dignissimos ducimus qui
                blanditiis praesentium.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Choose Section End -->

  <!-- Counter Section End -->
  <div class="rs-counter home12-style pt-80">
    <div class="container">
      <div class="row couter-area bg8">
        <div class="col-lg-3 col-md-6 md-mb-30">
          <div class="counter-item text-center">
            <h2 class="rs-count pr-0">50</h2>
            <span class="prefix">k</span>
            <h4 class="title mb-0">Enrolled Learners</h4>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 md-mb-30">
          <div class="counter-item text-center">
            <h2 class="number rs-count kplus">70</h2>
            <h4 class="title mb-0">Enrolled Learners</h4>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 sm-mb-30">
          <div class="counter-item text-center">
            <h2 class="rs-count plus">120</h2>
            <h4 class="title mb-0">Online Instructors</h4>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="counter-item text-center">
            <h2 class="rs-count percent">99</h2>
            <h4 class="title mb-0">Satisfaction Rate</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Counter Section Start -->

  {% include './utils.html' %}
</div>
<!-- Main content End -->

{% endblock %}
