{% extends "./base/base.html"%} {% load i18n %} {% load static %}
{% block title %}Login{% endblock%} {% block content %}

<!-- Main content Start -->
<div class="main-content">
  <!-- Breadcrumbs Start -->
  <div class="rs-breadcrumbs breadcrumbs-overlay">
    <div class="breadcrumbs-img">
      <img
        src="{% static 'core/assets/images/breadcrumbs/2.jpg' %}"
        alt="Breadcrumbs Image"
      />
    </div>
    <div class="breadcrumbs-text white-color">
      <h1 class="page-title">My Account</h1>
      <ul>
        <li>
          <a class="active" href="index.html">Home</a>
        </li>
        <li>My Account</li>
      </ul>
    </div>
  </div>
  <!-- Breadcrumbs End -->

  <!-- My Account Section Start -->
  <div class="rs-login pt-100 pb-100 md-pt-70 md-pb-70">
    <div class="container">
      <div class="noticed">
        <div class="main-part">
          <div class="method-account">
            <h2 class="login">Login</h2>
            <form>
              <input
                type="email"
                name="E-mail"
                placeholder="E-mail"
                required=""
              />
              <input
                type="text"
                name="text"
                placeholder="Password"
                required=""
              />
              <button type="submit" class="readon submit-btn">login</button>
              <div class="last-password">
                <p>Not registered? <a href="#">Create an account</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- My Account Section End -->

  {% endblock %}
</div>
