{% load static %}

<!-- Blog Section Start -->
<div id="rs-blog" class="rs-blog main-home pb-100 pt-100 md-pt-70 md-pb-70">
  <div class="container">
    <div class="sec-title3 text-center mb-50">
      <div class="sub-title">News Update</div>
      <h2 class="title">Latest News & events</h2>
    </div>
    <div
      class="rs-carousel owl-carousel"
      data-loop="true"
      data-items="3"
      data-margin="30"
      data-autoplay="true"
      data-hoverpause="true"
      data-autoplay-timeout="5000"
      data-smart-speed="800"
      data-dots="false"
      data-nav="false"
      data-nav-speed="false"
      data-center-mode="false"
      data-mobile-device="1"
      data-mobile-device-nav="false"
      data-mobile-device-dots="false"
      data-ipad-device="2"
      data-ipad-device-nav="false"
      data-ipad-device-dots="false"
      data-ipad-device2="1"
      data-ipad-device-nav2="false"
      data-ipad-device-dots2="false"
      data-md-device="3"
      data-md-device-nav="false"
      data-md-device-dots="false"
    >
      <div class="blog-item">
        <div class="image-part">
          <img src="{% static 'core/assets/images/blog/style2/1.jpg' %}" alt="" />
        </div>
        <div class="blog-content">
          <ul class="blog-meta">
            <li><i class="fa fa-user-o"></i> Admin</li>
            <li><i class="fa fa-calendar"></i>December 15, 2020</li>
          </ul>
          <h3 class="title">
            <a href="blog-single.html"
              >Education is The Process of Facilitating Learning</a
            >
          </h3>
          <div class="desc">
            the acquisition of knowledge, skills, values befs, and habits.
            Educational methods include teach ing, training, storytelling
          </div>
          <div class="btn-btm">
            <div class="cat-list">
              <ul class="post-categories">
                <li><a href="#">Cyber</a></li>
              </ul>
            </div>
            <div class="rs-view-btn">
              <a href="#">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="blog-item">
        <div class="image-part">
          <img src="{% static 'core/assets/images/blog/style2/2.jpg' %}" alt="" />
        </div>
        <div class="blog-content">
          <ul class="blog-meta">
            <li><i class="fa fa-user-o"></i> Admin</li>
            <li><i class="fa fa-calendar"></i>October 15, 2020</li>
          </ul>
          <h3 class="title">
            <a href="blog-single.html"
              >High school program starting soon 2021
            </a>
          </h3>
          <div class="desc">
            the acquisition of knowledge, skills, values befs, and habits.
            Educational methods include teach ing, training, storytelling
          </div>
          <div class="btn-btm">
            <div class="cat-list">
              <ul class="post-categories">
                <li><a href="#">Programming</a></li>
              </ul>
            </div>
            <div class="rs-view-btn">
              <a href="#">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="blog-item">
        <div class="image-part">
          <img src="{% static 'core/assets/images/blog/style2/3.jpg' %}" alt="" />
        </div>
        <div class="blog-content">
          <ul class="blog-meta">
            <li><i class="fa fa-user-o"></i> Admin</li>
            <li><i class="fa fa-calendar"></i>April 25, 2020</li>
          </ul>
          <h3 class="title">
            <a href="blog-single.html"
              >Shutdown of schools extended to Aug 31
            </a>
          </h3>
          <div class="desc">
            the acquisition of knowledge, skills, values befs, and habits.
            Educational methods include teach ing, training, storytelling
          </div>
          <div class="btn-btm">
            <div class="cat-list">
              <ul class="post-categories">
                <li><a href="#">College</a></li>
              </ul>
            </div>
            <div class="rs-view-btn">
              <a href="#">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="blog-item">
        <div class="image-part">
          <img src="{% static 'core/assets/images/blog/style2/4.jpg' %}" alt="" />
        </div>
        <div class="blog-content">
          <ul class="blog-meta">
            <li><i class="fa fa-user-o"></i> Admin</li>
            <li><i class="fa fa-calendar"></i>June 20, 2010</li>
          </ul>
          <h3 class="title">
            <a href="blog-single.html"
              >This is a great source of content for anyone…
            </a>
          </h3>
          <div class="desc">
            the acquisition of knowledge, skills, values befs, and habits.
            Educational methods include teach ing, training, storytelling
          </div>
          <div class="btn-btm">
            <div class="cat-list">
              <ul class="post-categories">
                <li><a href="#">College</a></li>
              </ul>
            </div>
            <div class="rs-view-btn">
              <a href="#">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="blog-item">
        <div class="image-part">
          <img src="{% static 'core/assets/images/blog/style2/5.jpg' %}" alt="" />
        </div>
        <div class="blog-content">
          <ul class="blog-meta">
            <li><i class="fa fa-user-o"></i> Admin</li>
            <li><i class="fa fa-calendar"></i>August 30, 2020</li>
          </ul>
          <h3 class="title">
            <a href="blog-single.html"
              >Pandemic drives millions from Latin America’s</a
            >
          </h3>
          <div class="desc">
            the acquisition of knowledge, skills, values befs, and habits.
            Educational methods include teach ing, training, storytelling
          </div>
          <div class="btn-btm">
            <div class="cat-list">
              <ul class="post-categories">
                <li><a href="#">College</a></li>
              </ul>
            </div>
            <div class="rs-view-btn">
              <a href="#">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="blog-item">
        <div class="image-part">
          <img src="{% static 'core/assets/images/blog/style2/6.jpg' %}" alt="" />
        </div>
        <div class="blog-content">
          <ul class="blog-meta">
            <li><i class="fa fa-user-o"></i> Admin</li>
            <li><i class="fa fa-calendar"></i>May 10, 2020</li>
          </ul>
          <h3 class="title">
            <a href="blog-single.html"
              >Modern School the lovely valley team work</a
            >
          </h3>
          <div class="desc">
            the acquisition of knowledge, skills, values befs, and habits.
            Educational methods include teach ing, training, storytelling
          </div>
          <div class="btn-btm">
            <div class="cat-list">
              <ul class="post-categories">
                <li><a href="#">College</a></li>
              </ul>
            </div>
            <div class="rs-view-btn">
              <a href="#">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Blog Section End -->

<!-- Newsletter section start -->
<div class="rs-newsletter style1 orange-color mb--90 sm-mb-0 sm-pb-70">
  <div class="container">
    <div class="newsletter-wrap">
      <div class="row y-middle">
        <div class="col-lg-6 col-md-12 md-mb-30">
          <div class="content-part">
            <div class="sec-title">
              <div class="title-icon md-mb-15">
                <img src="{% static 'core/assets/images/newsletter.png' %}" alt="images" />
              </div>
              <h2 class="title mb-0 white-color">Subscribe to Newsletter</h2>
            </div>
          <//div>
        </div>
        <div class="col-lg-6 col-md-12">
          <form class="newsletter-form">
            <input
              type="email"
              name="email"
              placeholder="Enter Your Email"
              required=""
            />
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Newsletter section end -->
