{% load static %}
<!-- Faq Section Start -->
            <div class="rs-faq-part style1 pt-100 pb-100 md-pt-70 md-pb-70">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 padding-0 col-md-12 md-mb-40">
                          <div class="main-part new-style">
                            <div class="title mb-20">
                                <h2 class="text-part">Frequently Asked Questions</h2>
                            </div>
                              <div class="faq-content">
                                  <div id="accordion" class="accordion">
                                     <div class="card">
                                         <div class="card-header">
                                             <a class="card-link" data-toggle="collapse" href="#collapseOne">What are the requirements ?</a>
                                         </div>
                                         <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                             <div class="card-body">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo ducimus qui blanditiis praesentium ducimus qui.
                                             </div>
                                         </div>
                                     </div>
                                      <div class="card">
                                          <div class="card-header">

                                              <a class="card-link collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false">Does Educavo offer free courses?</a>
                                          </div>
                                          <div id="collapseTwo" class="collapse" data-parent="#accordion" style="">
                                              <div class="card-body">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo ducimus qui blanditiis praesentium ducimus qui.
                                              </div>
                                          </div>
                                      </div>
                                      <div class="card">
                                          <div class="card-header">

                                              <a class="card-link collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false">What is the transfer application?</a>
                                          </div>
                                          <div id="collapseThree" class="collapse" data-parent="#accordion" style="">
                                              <div class="card-body">
                                               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo ducimus qui blanditiis praesentium ducimus qui.
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                        </div>
                        <div class="col-lg-6 padding-0 col-md-12">
                            <div class="rs-free-contact">
                                <div class="sec-title3">
                                    <h2 class="title white-color">Register Free Courses</h2>
                                </div>
                                    <form id="contact-form" method="post" action="https://keenitsolutions.com/products/html/educavo/mailer.php">
                                        <div class="row">
                                            <div class="col-lg-6 mb-30 col-md-12">
                                                <input class="from-control" type="text" id="name" name="name" placeholder="Name" required="">
                                            </div>
                                            <div class="col-lg-6 mb-30 col-md-12">
                                                <input class="from-control" type="text" id="email" name="email" placeholder="Email" required="">
                                            </div>
                                            <div class="col-lg-6 mb-30 col-md-12">
                                                <input class="from-control" type="text" id="phone" name="phone" placeholder="Phone" required="">
                                            </div>
                                            <div class="col-lg-6 mb-30 col-md-12">
                                                <input class="from-control" type="text" id="subject" name="subject" placeholder="Subject" required="">
                                            </div>

                                            <div class="col-lg-12 mb-35">
                                                <textarea class="from-control" id="message" name="message" placeholder=" Message" required=""></textarea>
                                            </div>
                                        </div>
                                        <div class="form-btn">
                                            <input class=" readon submit-requset" type="submit" value="Submit-Requset">
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- faq Section Start -->

            <!-- Testimonial Section Start -->
            <div class="rs-testimonial home12-style">
                <div class="container">
                    <div class="sec-title4 mb-50 md-mb-30 text-center">
                        <div class="sub-title primary">Testimonial</div>
                        <h2 class="title mb-0">What Our Students Says</h2>
                    </div>
                        <div class="rs-carousel owl-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false" data-nav="true" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="2" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="1" data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="3" data-md-device-nav="false" data-md-device-dots="false">
                        <div class="testi-item">
                            <div class="item-content-basic">
                                <div class="desc"><img class="quote" src="assets/images/testimonial/home12/quote.png" alt="">Professional, responsive, and able to keep up with ever-changing demand and tight deadlines: That’s how I would describe Jeramy and his team at The Lorem Ipsum Company. When it comes to content marketing, you’ll definitely get the 5-star treatment from the Lorem Ipsum Company.</div>
                                <div class="testi-content">
                                    <div class="img-wrap">
                                        <img src="assets/images/testimonial/home12/1.jpg" alt="">
                                    </div>
                                    <div class="name">
                                        Junita Mushenko
                                    </div>
                                    <span class="designation">Math Teacher</span>
                                </div>
                            </div>
                        </div>
                        <div class="testi-item">
                            <div class="item-content-basic">
                                <div class="desc"><img class="quote" src="assets/images/testimonial/home12/quote.png" alt="">Professional, responsive, and able to keep up with ever-changing demand and tight deadlines: That’s how I would describe Jeramy and his team at The Lorem Ipsum Company. When it comes to content marketing, you’ll definitely get the 5-star treatment from the Lorem Ipsum Company.</div>
                                <div class="testi-content">
                                    <div class="img-wrap">
                                        <img src="assets/images/testimonial/home12/2.jpg" alt="">
                                    </div>
                                    <div class="name">
                                       Sonia Akhter
                                    </div>
                                    <span class="designation">Chemisty Teacher</span>
                                </div>
                            </div>
                        </div>
                        <div class="testi-item">
                            <div class="item-content-basic">
                                <div class="desc"><img class="quote" src="assets/images/testimonial/home12/quote.png" alt="">Professional, responsive, and able to keep up with ever-changing demand and tight deadlines: That’s how I would describe Jeramy and his team at The Lorem Ipsum Company. When it comes to content marketing, you’ll definitely get the 5-star treatment from the Lorem Ipsum Company.</div>
                                <div class="testi-content">
                                    <div class="img-wrap">
                                        <img src="assets/images/testimonial/home12/3.jpg" alt="">
                                    </div>
                                    <div class="name">
                                        Alex Fernando
                                    </div>
                                    <span class="designation">English Teacher</span>
                                </div>
                            </div>
                        </div>
                        <div class="testi-item">
                            <div class="item-content-basic">
                                <div class="desc"><img class="quote" src="assets/images/testimonial/home12/quote.png" alt="">Professional, responsive, and able to keep up with ever-changing demand and tight deadlines: That’s how I would describe Jeramy and his team at The Lorem Ipsum Company. When it comes to content marketing, you’ll definitely get the 5-star treatment from the Lorem Ipsum Company.</div>
                                <div class="testi-content">
                                    <div class="img-wrap">
                                        <img src="assets/images/testimonial/home12/4.jpg" alt="">
                                    </div>
                                    <div class="name">
                                        Tamim Ikbal
                                    </div>
                                    <span class="designation">Head Teacher</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Testimonial Section End -->

            <!-- Download Section Start -->
            <div class="rs-download-app pt-100 pb-100 md-pt-70 md-pb-70">
                <div class="container">
                   <div class="row align-items-center">
                       <div class="col-lg-6 md-mb-40">
                           <div class="img-part">
                                <img src="assets/images/download/m-app.png" alt="">

                           </div>
                       </div>
                       <div class="col-lg-6 pl-60 md-pl-15">
                            <div class="sec-title3 mb-30">
                                <div class="sub-title green-color">Download Mobile App</div>
                                <h2 class=" title new-title">Learn anything - Any Time - Any Where ; Mobile/Desktop</h2>
                                <div class="new-desc">Lorem ipsum dolor sit amet, ing elit, sed eius to mod tempors incididunt ut labore et dolore magna this aliqua sed eius to mod tempors incid idunt ut labore data management.</div>
                            </div>
                            <div class="mobile-img">
                                <div class="apps-image pr-20 sm-pr-5">
                                    <img src="assets/images/download/play.png" alt="">
                                </div>
                                <div class="apps-image">
                                    <img src="assets/images/download/apple.png" alt="">
                                </div>
                            </div>
                       </div>
                   </div>
                </div>
            </div>
            <!-- Download Section End -->

             <!-- Events Section Start -->
            <div class="rs-event home12style">
                <div class="container">
                    <div class="sec-title4 text-center mb-50">
                        <div class="sub-title">Join Events</div>
                        <h2 class="title purple-color">Upcoming Events</h2>
                    </div>
                    <div class="rs-carousel owl-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="true" data-autoplay-timeout="7000" data-smart-speed="2000" data-dots="true" data-nav="false" data-nav-speed="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="true" data-ipad-device="2" data-ipad-device-nav="false" data-ipad-device-dots="true" data-ipad-device2="1" data-ipad-device-nav2="false" data-ipad-device-dots2="true" data-md-device="3" data-md-device-nav="false" data-md-device-dots="true">
                    <div class="event-item home12-style">
                        <div class="event-short">
                           <div class="featured-img">
                               <img src="assets/images/event/home12/1.jpg" alt="Image">
                           </div>
                           <div class="content-part">
                                <div class="all-dates-time">
                                    <div class="address"><i class="fa fa-map-o"></i> New Margania</div>
                                    <div class="time"><i class="fa fa-clock-o" aria-hidden="true"></i> 11:00 AM - 03:00 AM</div>
                                </div>
                               <h4 class="title"><a href="#">Educational Technology and Mobile Learning</a></h4>
                               <div class="event-btm">
                                   <div class="date-part">
                                       <div class="date">
                                           <i class="fa fa-calendar-check-o"></i>
                                           July 24, 2020
                                       </div>
                                   </div>
                                   <div class="btn-part">
                                       <a href="#">Join Event</a>
                                   </div>
                               </div>
                           </div>
                        </div>
                    </div>
                    <div class="event-item home12-style">
                        <div class="event-short">
                           <div class="featured-img">
                               <img src="assets/images/event/home12/2.jpg" alt="Image">
                           </div>
                           <div class="content-part">
                                <div class="all-dates-time">
                                    <div class="address"><i class="fa fa-map-o"></i> New Margania</div>
                                    <div class="time"><i class="fa fa-clock-o" aria-hidden="true"></i> 11:00 AM - 03:00 AM</div>
                                </div>
                               <h4 class="title"><a href="#">Best Technology  Graduation Ceremony.</a></h4>
                               <div class="event-btm">
                                   <div class="date-part">
                                       <div class="date">
                                           <i class="fa fa-calendar-check-o"></i>
                                           July 24, 2020
                                       </div>
                                   </div>
                                   <div class="btn-part">
                                       <a href="#">Join Event</a>
                                   </div>
                               </div>
                           </div>
                        </div>
                    </div>
                    <div class="event-item home12-style">
                        <div class="event-short">
                           <div class="featured-img">
                               <img src="assets/images/event/home12/3.jpg" alt="Image">
                           </div>
                           <div class="content-part">
                                <div class="all-dates-time">
                                    <div class="address"><i class="fa fa-map-o"></i> New Margania</div>
                                    <div class="time"><i class="fa fa-clock-o" aria-hidden="true"></i> 11:00 AM - 03:00 AM</div>
                                </div>
                               <h4 class="title"><a href="#">Educational Technology and Mobile Learning</a></h4>
                               <div class="event-btm">
                                   <div class="date-part">
                                       <div class="date">
                                           <i class="fa fa-calendar-check-o"></i>
                                           July 24, 2020
                                       </div>
                                   </div>
                                   <div class="btn-part">
                                       <a href="#">Join Event</a>
                                   </div>
                               </div>
                           </div>
                        </div>
                    </div>
                    <div class="event-item home12-style">
                        <div class="event-short">
                           <div class="featured-img">
                               <img src="assets/images/event/home12/4.jpg" alt="Image">
                           </div>
                           <div class="content-part">
                                <div class="all-dates-time">
                                    <div class="address"><i class="fa fa-map-o"></i> New Margania</div>
                                    <div class="time"><i class="fa fa-clock-o" aria-hidden="true"></i> 11:00 AM - 03:00 AM</div>
                                </div>
                               <h4 class="title"><a href="#">Educational Technology and Mobile Learning</a></h4>
                               <div class="event-btm">
                                   <div class="date-part">
                                       <div class="date">
                                           <i class="fa fa-calendar-check-o"></i>
                                           July 24, 2020
                                       </div>
                                   </div>
                                   <div class="btn-part">
                                       <a href="#">Join Event</a>
                                   </div>
                               </div>
                           </div>
                        </div>
                    </div>
                    <div class="event-item home12-style">
                        <div class="event-short">
                           <div class="featured-img">
                               <img src="assets/images/event/home12/5.jpg" alt="Image">
                           </div>
                           <div class="content-part">
                                <div class="all-dates-time">
                                    <div class="address"><i class="fa fa-map-o"></i> New Margania</div>
                                    <div class="time"><i class="fa fa-clock-o" aria-hidden="true"></i> 11:00 AM - 03:00 AM</div>
                                </div>
                               <h4 class="title"><a href="#">Best Technology  Graduation Ceremony.</a></h4>
                               <div class="event-btm">
                                   <div class="date-part">
                                       <div class="date">
                                           <i class="fa fa-calendar-check-o"></i>
                                           July 24, 2020
                                       </div>
                                   </div>
                                   <div class="btn-part">
                                       <a href="#">Join Event</a>
                                   </div>
                               </div>
                           </div>
                        </div>
                    </div>
                    <div class="event-item home12-style">
                        <div class="event-short">
                           <div class="featured-img">
                               <img src="assets/images/event/home12/1.jpg" alt="Image">
                           </div>
                           <div class="content-part">
                                <div class="all-dates-time">
                                    <div class="address"><i class="fa fa-map-o"></i> New Margania</div>
                                    <div class="time"><i class="fa fa-clock-o" aria-hidden="true"></i> 11:00 AM - 03:00 AM</div>
                                </div>
                               <h4 class="title"><a href="#">Educational Technology and Mobile Learning</a></h4>
                               <div class="event-btm">
                                   <div class="date-part">
                                       <div class="date">
                                           <i class="fa fa-calendar-check-o"></i>
                                           July 24, 2020
                                       </div>
                                   </div>
                                   <div class="btn-part">
                                       <a href="#">Join Event</a>
                                   </div>
                               </div>
                           </div>
                        </div>
                    </div>
                    <div class="event-item home12-style">
                        <div class="event-short">
                           <div class="featured-img">
                               <img src="assets/images/event/home12/2.jpg" alt="Image">
                           </div>
                           <div class="content-part">
                                <div class="all-dates-time">
                                    <div class="address"><i class="fa fa-map-o"></i> New Margania</div>
                                    <div class="time"><i class="fa fa-clock-o" aria-hidden="true"></i> 11:00 AM - 03:00 AM</div>
                                </div>
                               <h4 class="title"><a href="#">Educational Technology and Mobile Learning</a></h4>
                               <div class="event-btm">
                                   <div class="date-part">
                                       <div class="date">
                                           <i class="fa fa-calendar-check-o"></i>
                                           July 24, 2020
                                       </div>
                                   </div>
                                   <div class="btn-part">
                                       <a href="#">Join Event</a>
                                   </div>
                               </div>
                           </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
            <!-- Events Section End -->

            <!-- Blog Section Start -->
            <div id="rs-blog" class="rs-blog main-home modify1 pb-100 pt-100 md-pt-70 md-pb-70">
                <div class="container">
                      <div class="sec-title4 text-center mb-50">
                        <div class="sub-title"> News Update</div>
                        <h2 class="title">Latest News & Article's</h2>
                      </div>
                    <div class="rs-carousel owl-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false" data-nav="false" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="2" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="1" data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="3" data-md-device-nav="false" data-md-device-dots="false">
                        <div class="blog-item">
                            <div class="image-part">
                                <img src="assets/images/blog/style9/1.jpg" alt="">
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <span class="date"><i class="fa fa-calendar-check-o"></i> September 24, 2020</span>
                                    <span class="admin"><i class="fa fa-user"></i> admin</span>
                                </div>
                                <h3 class="title"><a href="blog-single.html">How universities can nurture for the world climate crisis</a></h3>
                                <div class="btn-btm">
                                    <div class="cat-list">
                                        <ul class="post-categories">
                                            <li><a href="#">College</a></li>
                                        </ul>
                                    </div>
                                    <div class="rs-view-btn">
                                        <a href="#">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blog-item">
                            <div class="image-part">
                                <img src="assets/images/blog/style9/2.jpg" alt="">
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <span class="date"><i class="fa fa-calendar-check-o"></i> September 24, 2020</span>
                                    <span class="admin"><i class="fa fa-user"></i> admin</span>
                                </div>
                                <h3 class="title"><a href="blog-single.html">Oxford vaccine trial resumes in UK after being halted</a></h3>
                                <div class="btn-btm">
                                    <div class="cat-list">
                                        <ul class="post-categories">
                                            <li><a href="#">College</a></li>
                                        </ul>
                                    </div>
                                    <div class="rs-view-btn">
                                        <a href="#">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blog-item">
                            <div class="image-part">
                                <img src="assets/images/blog/style9/3.jpg" alt="">
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <span class="date"><i class="fa fa-calendar-check-o"></i> September 24, 2020</span>
                                    <span class="admin"><i class="fa fa-user"></i> admin</span>
                                </div>
                                <h3 class="title"><a href="blog-single.html">University class starting soon while the lovely valley team work </a></h3>
                                <div class="btn-btm">
                                    <div class="cat-list">
                                        <ul class="post-categories">
                                            <li><a href="#">College</a></li>
                                        </ul>
                                    </div>
                                    <div class="rs-view-btn">
                                        <a href="#">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blog-item">
                            <div class="image-part">
                                <img src="assets/images/blog/style9/4.jpg" alt="">
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <span class="date"><i class="fa fa-calendar-check-o"></i> September 24, 2020</span>
                                    <span class="admin"><i class="fa fa-user"></i> admin</span>
                                </div>
                                <h3 class="title"><a href="blog-single.html">High school program starting soon 2021 for covid-19 situation</a></h3>
                                <div class="btn-btm">
                                    <div class="cat-list">
                                        <ul class="post-categories">
                                            <li><a href="#">College</a></li>
                                        </ul>
                                    </div>
                                    <div class="rs-view-btn">
                                        <a href="#">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blog-item">
                            <div class="image-part">
                                <img src="assets/images/blog/style9/5.jpg" alt="">
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <span class="date"><i class="fa fa-calendar-check-o"></i> September 24, 2020</span>
                                    <span class="admin"><i class="fa fa-user"></i> admin</span>
                                </div>
                                <h3 class="title"><a href="blog-single.html">Majority of students dissatisfied for world coronavirus support</a></h3>
                                <div class="btn-btm">
                                    <div class="cat-list">
                                        <ul class="post-categories">
                                            <li><a href="#">College</a></li>
                                        </ul>
                                    </div>
                                    <div class="rs-view-btn">
                                        <a href="#">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blog-item">
                            <div class="image-part">
                                <img src="assets/images/blog/style9/6.jpg" alt="">
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <span class="date"><i class="fa fa-calendar-check-o"></i> September 24, 2020</span>
                                    <span class="admin"><i class="fa fa-user"></i> admin</span>
                                </div>
                                <h3 class="title"><a href="blog-single.html">Combating discrimination against most international students</a></h3>
                                <div class="btn-btm">
                                    <div class="cat-list">
                                        <ul class="post-categories">
                                            <li><a href="#">College</a></li>
                                        </ul>
                                    </div>
                                    <div class="rs-view-btn">
                                        <a href="#">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
            <!-- Blog Section End -->

            <!-- Newsletter section start -->
            <div class="rs-newsletter style1 green-color mb--90 sm-mb-0 sm-pb-70">
                <div class="container">
                    <div class="newsletter-wrap">
                        <div class="row y-middle">
                            <div class="col-lg-6 col-md-12 md-mb-30">
                               <div class="content-part">
                                   <div class="sec-title">
                                       <div class="title-icon md-mb-15">
                                           <img src="assets/images/white-newsletter3.png" alt="images">
                                       </div>
                                       <h2 class="title mb-0 white-color">Subscribe to Newsletter</h2>
                                   </div>
                               </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <form class="newsletter-form">
                                    <input type="email" name="email" placeholder="Enter Your Email" required="">
                                    <button type="submit">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Newsletter section end -->
